<li class="estirar" alpha="<%= djs.name %>" most_followers="<%= djs.follower_count %>" popularity="">
<span class="ord">indx</span>
<%= avatar_for(djs, :small, :class => 'avatar', :disable_default_css => true) %>
<div id="<%= djs.playlists.latest(1)[0].id %>" class="datos">
  <h3><%= link_to djs.name, djs_details_path(djs.id), :class => "link_rojo", :title => djs.name, :content_switch_enabled => true %></h3>
  <p>(<%= djs.country.name %>)</p>
</div>
<div class="num_mixes"><strong><%= djs.total_playlists %></strong> <%= t('coke_messenger.mixes').downcase %></div>
<div class= "follow_unfollow_btns">
  <%= link_to_function t('coke_messenger.play'), "Base.Station.request('/playlists/#{djs.playlists.latest(1)[0].id}.xml', 'xml', Base.Station.stationCollection);Base.Player.random(false)", :class => 'btn_play',:title => t('coke_messenger.play_hover') %>
  <% layer_path = send("follow_user_registration_layers_path", :return_to => request.request_uri, :account_id => djs.id, :follow_profile => djs.id) %>

  <% if current_user and current_user.id != djs.id  %>
    <div id="following" style="display:<%= current_user.follows?(djs) ? 'block' : 'none' %>" >
      <%= link_to t('coke_messenger.unfollow_the_author'), "javascript:", :onclick => "Base.community.text_unfollow('#{djs.slug}', this)" ,:class => "btn_seguir_green"  %>
    </div>
    <div id="not_following" style="display:<%= current_user.follows?(djs) ? 'none' : 'block' %>" >
      <%= link_to t('coke_messenger.follow_the_author'), "javascript: ", :onclick => "Base.community.text_follow('#{djs.slug}', this, '#{layer_path}')" ,:class => "btn_seguir_red" %>
    </div>
  <% else %>
    <div id="not_following" style="display: block" >
      <%= link_to t('coke_messenger.follow_the_author'), "javascript: ",:onclick => "Base.community.text_follow('#{djs.slug}', this, '#{layer_path}')",:class => "btn_seguir_red" %>
    </div>
  <% end %>
</div>
</li>
