<div class="cabecera">
  <%= image_tag "coke_messenger/#{current_site.code}_fm.png", :class => 'logo', :width => '114', :height => '82', :alt => 'Destapa tus emociones' %>
  <script>
    var msg="<%= t('search.messenger_search_hint', :default => 'Search for your favorite artist & music') %>";
  </script>
  <h1 class="claim <%= current_site.code %>">Escucha musica, crea y comparte tus mixes</h1>
  <div class="nav_cab">
    <% if logged_in? %>
      <ul class="conectado">
        <li><%= link_to "<span>#{t('coke_messenger.logout')}</span>", logout_path, :class => 'link_logout' %></li>
        <li><%= "#{t('coke_messenger.greeting')} #{link_to current_user.name, '#', :class => 'link_usuario'}" %></li>
      </ul>
    <% else %>
      <a class="btn_connect" href="#" title="Connect">Connect</a>
    <% end %>
    <!--<wl:signin></wl:signin>-->
    <div class="destacados estirar">
      <%= link_to t('coke_messenger.live_radio'), '#', :class => 'btn_envivo' %>
      <%= link_to t('coke_messenger.create_mix'), playlist_create_path, :class => 'btn_nuevomix', :target => '_blank' %>
	  <%= link_to "max_skip_layer", "#", :onclick => "Base.max_skip_layer();return false;" %>
	</div><!-- .btn_destacados -->
  </div><!-- .nav -->
</div><!-- .cabecera -->
<ul class="menu_principal">
  <% %w(home mixes djs my_mixes friends).each do |channel| %>
    <li <%= "class='inicio'" if channel == 'home' %>><%= link_to t("coke_messenger.#{channel}"), "/messenger_player/#{channel}" , :content_switch_enabled => true %></li>
  <% end %>
  <li class="buscador">
  <%= render :partial => 'coke_messenger/search_form' %>
  </li>
</ul><!-- .menu_principal -->
<div class="reproductor">

  <div id="coke_ui" class="player player_mix">
    <div class="controles">
      <a class="r_play" href="#" onclick="Base.Player.playPause();" title="Play">Play</a>
      <a class="r_forward" href="#" onclick="Base.Player.next();" title="Forward">Forward</a>
      <a class="r_random" href="#" onclick="Base.Player.random(!Base.Player._randomized);" title="Random">Random</a>
    </div><!-- .controles -->
    <div class="sonando">
      <div class="caratula">
        <img src="/images/coke_messenger/cds/sim_caratula1.jpg" alt="CD" width="35" height="35" />
      </div><!-- .caratula -->
      <div class="cancion">
        <div class="mascara"></div>
      </div>
      <div class="tiempo">
        <div class="barra">
          <div class="relleno" style="width:0%;">
            <a class="puntero" href="#">Puntero</a>
          </div>
        </div><!-- .barra -->
        <span class="minuto">-05:35</span>
      </div><!-- .tiempo -->
      <a class="tooltip punt_botellas" href="#" rel="tip_valorar" title="Valorar Mix">
        <span class="llena"></span>
        <span class="llena"></span>
        <span class="llena"></span>
        <span class="llena"></span>
        <span class="vacia"></span>
      </a><!-- .punt_botellas -->
      <span class="tip" id="tip_valorar">Valorar Mix</span>
    </div><!-- .sonando -->
    <div class="info">
      <a class="tooltip r_compartir" href="#" rel="tip_compartir" title="Compartir Mix">Compartir</a>
      <span class="tip" id="tip_compartir">Compartir Mix</span>
      <a class="tooltip r_copiar" href="#" rel="tip_copiar" title="Copiar Mix">Copiar</a>
      <span class="tip" id="tip_copiar">Copiar Mix</span>
      <a class="tooltip r_info" href="#" rel="tip_info" title="Información">Info</a>
      <span class="tip" id="tip_info">Información</span>
    </div><!-- .info -->
    <div class="volumen">
      <a class="vol" href="#" title="Volumen">Volumen</a>
      <div class="barra">
        <div class="relleno" style="width:50px;left:-9px;">
          <a class="puntero" href="#">Puntero</a>
        </div>
      </div><!-- .barra -->
    </div><!-- .volumen -->
  </div>
  <!-- .player .player_mix -->

  <div id="goom_ui" class="player player_radio">
    <div class="controles">
      <a class="r_play activo" href="#" onclick="Base.Player.playPause()" title="Play">Play</a>
      <a class="r_random" href="#" onclick="Base.Station.random()" title="Random">Random</a>
    </div><!-- .controles -->
    <div class="sonando">
      <div class="caratula">
        <img src="/images/coke_messenger/cds/sim_caratula1.jpg" alt="Radio" width="35" height="35" />
      </div><!-- .caratula -->
      <div class="cancion">
        <p>Live Coke Radio</p>
        <div class="mascara"></div>
      </div>
    </div><!-- .sonando -->
    <div class="volumen">
      <a class="vol_menos" href="#" title="Bajar volumen">Menos</a>
      <div class="barra">
        <div class="relleno" style="width:50px;left:-9px;">
          <a class="puntero" href="#">Puntero</a>
        </div>
      </div><!-- .barra -->
      <a class="vol_mas" href="#" title="Subir volumen">Mas</a>
    </div><!-- .volumen -->
  </div>
  <!-- .player .player_radio -->


  <div class="sound_engines">
    <div id="coke_player"></div>
    <div id="goom_player"></div>
    <div id="goom_callbacks"></div>

    <script type="text/javascript">
    var pl = [<%= top_playlists.map { |p| "'/playlists/#{p.id}.xml'" }.join(',') %>];
    /* Coke player configuration */
    var cFlashVars = {
      debug:1,
      protocol:'rtmp',
      serviceHost:'streaming.cyloop.com/vod',
      player:'messengerradio_<%= current_site.code %>',
      autostart:0
    };
    var cParams = {
      allowScriptAccess: 'sameDomain'
    };
    var cAttribs = {
      id:'coke_engine',
      name:'coke_engine'
    };
    swfobject.embedSWF('/flash/sound_stub.swf', 'coke_player', '1', '1', '9.0.0', false, cFlashVars, cParams, cAttribs);
    /*****************************/
    /* Goom player configuration */
    // Exposed goom engine callbacks
    var goomui = document.getElementById('goom_callbacks');
    goomui.currentMediaChanged = function(eobj)
    {
      var song = $.parseJSON(eobj);
      if (song.title) Base.UI.render(song);
    };

    var gFlashVars = {
      urlApi:'http://api.goomradio.com',
      eStatUrl: 'http://www.goomradio.com/mini-audio/eStatNativeFlashTag.swf',
      defaultVolume: '50',
      uiid: 'goom_callbacks'
    };
    var gParams = {
      allowscriptaccess:'always'
    };
    var gAttribs = {
      id:'goom_engine',
      name:'goom_engine'
    };
    swfobject.embedSWF('http://www.goomradio.com/mini-audio/goom-miniAudioLib.swf', 'goom_player', '1', '1', '9.0.0', {}, gFlashVars, gParams, gAttribs);
    /*****************************/
    </script>
  </div>
</div><!-- .reproductor -->
