<% @my_mixes.each do |playlist| %>
	<li class="estirar">
	<%= avatar_for(playlist, :small, :class => 'avatar', :disable_default_css => true) %>
	<div class="datos">
	<h3><div class="link_rojo"><%= playlist.name %></div></h3>
	</div>
	<em class="mix_count"> <label><%= playlist.songs.size %></label> <%= t('coke_messenger.my_mixes_mixes_count') %> </em>
	<div class="messenger_rating"><%= messenger_rating(playlist) %></div>
	<a class="btn_play" href="#" title="<%= t('coke_messenger.play') %>"><%= t('coke_messenger.play') %></a>
	</li>
<% end %>
