<%= render :partial => 'shared/javascripts' %>
<div class="submenu">
  <div class="columna">
    <h2><%= t('messenger_player.dj.tab_title') %></h2>
    <a class="btn_perfil" href="/<%= current_user %>" target="_blank" title="<%= t('coke_messenger.my_mixes_view_profile') %>"><%= t('coke_messenger.my_mixes_view_profile') %></a>
    <form class="ord_mixes" action="#" >
      <select>
        <option>Ordenar por popularidad</option>
        <option>-</option>
      </select>
    </form>
  </div>
</div><!-- .submenu -->
<div class="contenido">
  <div class="columna">
    <ul class="mis_mixes">

      

      <% @dj_mixes.each do |playlist|
      %>
        <li class="estirar">
          <%= avatar_for(playlist, :small, :class => 'avatar', :disable_default_css => true) %>
          <div class="datos">
            <h3><%= link_to playlist.name, radio_path(:station_id => playlist.station.id) ,:class => "link_rojo" %></a></h3>
          </div>
          
          <div class="messenger_rating"><%= rating(playlist) %></div>
          <a class="btn_play" href="#" title="Play">Play</a>
        </li>
      <% end %>


    </ul>
  </div><!-- .columna -->
</div><!-- .contenido -->
