  <div class="submenu">
    <div class="columna">
      <h2><%= t('messenger_player.dj.tab_title') %></h2>
      <form class="ord_mixes" action="#" >
        <select>
          <option><%= t('messenger_player.dj.sort_by_popularity') %></option>
          <option>-</option>
        </select>
      </form>
    </div>
  </div><!-- .submenu -->


  <div class="contenido">
    <div class="columna">
      <ul class="djs">
       <% @djs.each do |dj| %>
			  <li class="estirar">
          <span class="ord"><%=@djs.index(dj)+1%></span>
          <%= avatar_for(dj, :small, :class => 'avatar', :disable_default_css => true) %>
          <div class="datos">
            <h3><%= link_to dj.name, djs_details_path(dj.id), :class => "link_rojo", :title => dj.name, :content_switch_enabled => true %></h3>
			
            <p>(<%= dj.country.name %>)</p>
          </div>
          <div class="num_mixes"><strong><%= dj.total_playlists %></strong> <%= t('messenger_player.mixes') %></div>
          <%= link_to_function t('messenger_player.play'), "Base.Station.request('/playlists/#{dj.playlists.latest(1).id}.xml', 'xml', Base.Station.stationCollection);Base.Player.random(false)", :class => 'btn_play' %>
          <a class="btn_seguir" href="#" title="<%= t('messenger_player.dj.follow_the_author') %>"><%= t('messenger_player.dj.follow_the_author') %></a>
		  
        </li>
			<% end %>
      </ul>
    </div><!-- .columna -->
  </div><!-- .contenido -->
  
