<div class="submenu">
  <div class="columna_izq">
    <h2>ULTIMOS MIXES</h2>
    <form class="ord_mixes" action="#" >
      <select>
        <option>Ordenar por popularidad</option>
        <option>-</option>
      </select>
    </form>
  </div>
  <div class="columna_der">
    <h2>EMOCIONES</h2>
  </div>
</div><!-- .submenu -->
<div class="contenido">
  <div class="columna_izq">
    <ul class="ult_mixes">
      <% @recent_playlists.each do |playlist| %>
        <li class="estirar">
        <%= avatar_for(playlist, :small, :class => 'avatar', :disable_default_css => true) %>
        <div class="datos">
          <h3><%= link_to_function playlist.name, "Base.Station.request('/playlists/#{playlist.id}.xml', 'xml', Base.Station.stationCollection);Base.Player.random(false)", :title => playlist.name, :class => 'link_rojo' %></h3>
          <p>Por: <a class="link_gris" href="#" title="Martinez DJ"><%= playlist.owner.name %></a></p>
        </div>
		 <%= link_to "Copiar", "#", :title => t('actions.copy') ,:rel=>"facebox", :onclick => "Base.playlists.messenger_copy('#{playlist.owner.name}', '#{playlist.id}');return false;" %>
        <%= link_to_function 'Play', "Base.Station.request('/playlists/#{playlist.id}.xml', 'xml', Base.Station.stationCollection);Base.Player.random(false)", :class => 'btn_play' %>
        </li>
      <% end %>
    </ul>
  </div><!-- .columna_izq -->
  <div class="columna_der">
    <ul class="emociones">
      <% emotions = ["Para celebrar","Divertido","House","Sexy","Dance","Reggae","super"] %>	
      <% emotions.each do|e| %>
	    <li>
	    	<%= link_to e, messenger_search_emotions_path(:q => CGI::escape(e)),:class=>"link_rojo" %>
		</li>	
	  <% end%> 
    </ul>
  </div><!-- .columna_der -->
</div><!-- .contenido -->

