<div class="submenu">
  <div class="columna_izq">
    <h2><%= t('coke_messenger.messenger_home.recent_mixes') %></h2>
    <form class="ord_mixes" action="#" >
      <select>
        <option>Ordenar por popularidad</option>
        <option>-</option>
      </select>
    </form>
  </div>
  <div class="columna_der">
    <h2><%= t('coke_messenger.messenger_home.emotions') %></h2>
  </div>
</div><!-- .submenu -->
<div class="contenido">
  <div class="columna_izq">
    <ul class="ult_mixes">
      <% @recent_playlists.each do |playlist| %>
        <li class="estirar">
        <%= avatar_for(playlist, :small, :class => 'avatar', :disable_default_css => true) %>
        <div class="datos">
          <h3><%= playlist.name %></h3>
          <p>Por: <%= link_to playlist.owner.name,djs_details_path(playlist.owner.id), :title => playlist.owner.name, :class=>"link_gris" %></p> 
        </div>
		 <%= link_to "Copiar",  copy_mix_layer_path(playlist.id), :title => t('actions.copy') , :rel=> "layer" %>
        <%= link_to_function t('coke_messenger.play'), "Base.Station.request('/playlists/#{playlist.id}.xml', 'xml', Base.Station.stationCollection);Base.Player.random(false)", :class => 'btn_play' %>
        </li>
      <% end %>
    </ul>
  </div><!-- .columna_izq -->
  <div class="columna_der">
    <ul class="emociones">
      <% current_site.tag_counts_from_playlists.each do|em| %>
        <li>
        <%= link_to em.name, messenger_search_emotions_path(:q => CGI::escape(em.name)), :class => 'link_rojo', :content_switch_enabled => true %>
        </li>	
      <% end%> 
    </ul>
  </div><!-- .columna_der -->
</div><!-- .contenido -->

