    <%= stylesheet_link_tag 'coke_messenger/messenger' %>
    <%= stylesheet_link_tag 'coke' %>
    <%= stylesheet_link_tag 'styles_radio' %>
    <%= stylesheet_link_tag 'jquery.rating' %>

    <!-- REVISIT THIS INCLUDE -->
    <%= javascript_include_tag 'jquery.rating' %>
    <!-- -------------------- -->
<div class="submenu">
  <div class="columna">
    <h2><%= t('messenger_player.mixes_tab.tab_title') %></h2>
    <form class="ord_mixes" action="#" >
      <select>
        <option>Ordenar por popularidad</option>
        <option>-</option>
      </select>
    </form>
  </div>
</div><!-- .submenu -->
<div class="contenido">
  <div class="columna">
    <ul class="mixes">
      <% @mixes.each_with_index do |playlist, index| %>
        <li class="estirar">
          <span class="ord"><%= index + 1 %></span>
          <%= avatar_for(playlist, :small, :class => 'avatar', :disable_default_css => true) %>
          <div class="datos">
            <h3><%= link_to_function playlist.name, "Base.Station.request('/playlists/#{playlist.id}.xml', 'xml', Base.Station.stationCollection);Base.Player.random(false)", :class => 'link_rojo' %></h3>
            <p><%= t("basics.by")%>: <%= link_to playlist.owner.name, "/#{playlist.owner}/playlists" ,:class => "link_gris" %></a></p>
          </div>
          <div class="messenger_rating" style="margin-top: 10px;"><%= rating(playlist) %></div>
          <%= link_to_function t('messenger_player.play'), "Base.Station.request('/playlists/#{playlist.id}.xml', 'xml', Base.Station.stationCollection);Base.Player.random(false)", :class => 'btn_play' %>
          <a class="btn_seguir" href="#" title="<%= t('messenger_player.follow_the_author') %>"><%= t('messenger_player.follow_the_author') %></a>
          </li>
        <% end %>
      </ul>
    </div><!-- .columna -->
  </div><!-- .contenido -->
