<div class="submenu">
  <div class="columna">
    <h2><%= t('coke_messenger.my_friends.latest')%></h2>
<%#= sortable_options_tag @my_friends, :name => "my_friend", :class => "ord_mixes", :i18n_base => "coke_messenger.order_filter" %>
  </div>
</div><!-- .submenu -->
<div class="contenido">
  <div class="columna">
    <% unless @my_friends.nil? or @my_friends.blank?  %>
      <% @my_friends.each do| dj |%>
        <li class="estirar">
          <img class="avatar" src="../images/sim_portada3.jpg" alt="portada del Mix" />
          <%= avatar_for(dj, :small, :class => 'avatar', :disable_default_css => true) %>
          <div class="datos">
            <h3><%= link_to dj.name, djs_details_path(dj.id), :class => "link_rojo", :title => dj.name, :content_switch_enabled => true %></h3>
            <p>(<%= dj.country.name %>)</p>
          </div>
          <a class="btn_play" href="#" title="<%= t('coke_messenger.my_friends.play')%>"><%= t('coke_messenger.my_friends.play')%></a>
          <a class="btn_perfil" href="<%= user_path(dj) %>" target="_blank" title="<%= t('coke_messenger.my_mixes_view_profile') %>"><%= t('coke_messenger.my_mixes_view_profile') %></a>
        </li>
      <% end%>
    <% else %>
      <ul class="amigos">
        <li class="no_resultados">
          <h3><%= t('coke_messenger.my_friends.dnt_hav_frnds')%></h3>
          <p><%= t('coke_messenger.my_friends.easy')%> <a href="#" class="btn_seguir_red" alt="<%= t('coke_messenger.my_friends.follow_the_author') %>"><%= t('coke_messenger.my_friends.follow_the_author') %> </a><%= t('coke_messenger.my_friends.follow')%></p>
        </li>
      </ul>
    <% end %>
  </div><!-- .columna -->
</div><!-- .contenido -->
