<script type="text/javascript">
  $(document).ready(function() {
      if (Base.Station._station)
      {
        if ($('ul.amigos li').hasClass('sonando')) $('.mixes li.sonando').toggleClass('sonando');
        $('ul.amigos').find('#' + Base.Station._station.pid).parent().toggleClass('sonando');
      }

      <% if @total_pages > 1 %>
        /* Infinite scroll */
        var page = 1;
        var pages = <%= @total_pages %>;
        var domContainer = ".contenido";
        var reqURL = "<%= request.path %>";
        var domAppend = "#sortable_options_ul_friends";
        $(domContainer).scrollLoad({
          url: reqURL,
          ScrollAfterHeight: 95,
          getData: function() {
            return {page:++page};
          },
          continueWhile: function()
          {
            return page < pages ? true : false;
          },
          onload: function(data) {
            $(this).find(domAppend).append(data);
          }
        });
        /*******************/
      <% end %>
  });
</script>
<div class="submenu">
  <div class="columna">
    <h2><%= t('coke_messenger.my_friends_tab.latest')%></h2>
    <%= sortable_options_tag @my_friends, :name => "friends", :class => "ord_mixes", :i18n_base => "coke_messenger.order_filter" %>
	</div>
</div><!-- .submenu -->
<div class="contenido">
  <div class="amigos">
    <% sortable_list(@my_friends, {:name => "friends", :class => "amigos", :li_class => "estirar", :no_results_class => "no_resultados", :no_results_partial => "coke_messenger/my_friends_no_result"}) do |dj, index| %>
        <%= avatar_for(dj.last_playlist_played, :small, :class => 'avatar', :disable_default_css => true, :alt =>dj.name) unless dj.last_playlist_played.nil? %>
        <%= avatar_for(dj, :small, :class => 'avatar', :disable_default_css => true, :alt =>dj.name) %>
        <div id="<%= dj.last_playlist_played.id %>" class="datos">
          <h3><%= link_to dj.name, djs_details_path(dj.id), :class => "link_rojo", :title => dj.name, :content_switch_enabled => true %></h3>
          <p><%= dj.last_playlist_played.name unless dj.last_playlist_played.nil? %></p>
        </div>
        <%= link_to_function t('coke_messenger.play'), "Base.Station.request('/playlists/#{dj.last_playlist_played.id}.xml', 'xml', Base.Station.stationCollection);Base.Player.random(false)", :class => 'btn_play play_btn_top',:title => t('coke_messenger.play_hover') unless dj.last_playlist_played.nil? %>
        <a class="btn_perfil" href="<%= user_path(dj) %>" target="_blank" title="<%= t('coke_messenger.my_mixes_view_profile') %>"><%= t('coke_messenger.my_mixes_view_profile') %></a>
      
    <% end%>
    <ul>
      <li class="view_more_frs"><%= link_to t('coke_messenger.my_friends_tab.view_more'), "/my/following", :target=>"_blank" %></li>
    </ul>
  </div><!-- .columna -->
</div><!-- .contenido -->
<script type="text/javascript">
  _gaq.push(['_trackPageview', '/my/friends']);
</script>
