<div class="submenu">
  <div class="columna">
    <h2>MIS MIXES</h2>
    <a class="btn_perfil" href="/<%= current_user %>" target="_blank" title="Ver perfil">Ver perfil</a>
    <form class="ord_mixes" action="#" >
      <select>
        <option>Ordenar por popularidad</option>
        <option>-</option>
      </select>
    </form>
  </div>
</div><!-- .submenu -->
<div class="contenido">
  <div class="columna">
    <ul class="mis_mixes">
      <%  if @my_mixes.length > 3 then %>
        <% count=0 %>
        <% @my_mixes.each do |playlist|
          count = count+1
        %>
          <li class="estirar">
            <%= avatar_for(playlist, :small, :class => 'avatar', :disable_default_css => true) %>
            <div class="datos">
              <h3><%= link_to playlist.name, radio_path(:station_id => playlist.station.id) ,:class => "link_rojo" %></a></h3>
            </div>
            <em class="mix_count"> <label>32</label> canciones </em>
            <div class="messenger_rating"><%= rating(playlist) %></div>
            <a class="btn_play" href="#" title="Play">Play</a>
          </li>
        <% end %>
      <% else %>
        <li class="no_resultados">
          <h3><%= t('messenger_player.mix_page_blank') %></h3>
          <p> <%= t('messenger_player.mix_page_blank_desc') %> </p>
          <a class="btn_nuevomix" href="#" title="Crear nuevo Mix">Crear nuevo Mix</a>
        </li>
      <% end %>
    </ul>
  </div><!-- .columna -->
</div><!-- .contenido -->