<div class="bloque">
  <ul class="submenu">
    <li class="activo"><a class="link_gris" target="_blank" href="<%= poll_link %>" title="Sugerencias"><%= t('footer.feedback') %></a></li>
    
    <% unless site_code == "cokebr" %>
      <li><a class="link_gris" href="<%= terms_and_conditions_url %>" target="_blank" title="<%= t('footer.terms_and_conditions') %>"><%= t('footer.terms_and_conditions') %></a></li>
      <li><a class="link_gris" href="<%= privacy_policy_url %>" target="_blank" title="<%= t('footer.privacy_policy') %>"><%= t('footer.privacy_policy') %></a></li>
    <% end %>
    
    <li><a class="link_gris" href="<%= list_badges_url %>" target="_blank" title="<%= t('footer.badges_listing') %>"><%= t('footer.badges_listing') %></a></li>

    <li><a class="link_gris" href="/index-bands/index.html" target="_blank" title="<%= t('footer.index_of_bands') %>"><%= t('footer.index_of_bands') %></a></li>
    <li><a class="link_gris" href="<%= index_of_music_url %>" target="_blank" title="<%= t('footer.index_of_music') %>"><%= t('footer.index_of_music') %></a></li>
  </ul><!-- .submenu -->
  <img class="powered" src="/images/multitask/logo_cyloop.png" alt="CyLoop" />
  <div class="info">
    <img src="/images/multitask/cocacola_pie.png" alt="Coca Cola"  />
    <p>&copy; 2010 The Coca-Cola Company, all rights reserved.</p>

    <p><small>Coca-Cola&reg;, &quot;Open Happiness&quot;, and the Contour Bottle are registered trademarks of The Coca-Cola Company.</small></p>
  </div><!-- .info -->
</div><!-- .bloque -->