<% logged_out = false unless local_assigns[:logged_out] %>

<div class="bloque">

  <h1 class="logo"><%= link_to "Coca Cola FM", home_path, :content_switch_enabled => true %></h1>
  <div class="claimanimado">
    <div id="bocadillo_claim"></div>
    <script type="text/javascript" charset="utf-8">
      var fFlashVars = {

      };
      var fParams = {
        quality: 'high',
        wmode: 'transparent'
      };
      var fAttribs = {

      };
      swfobject.embedSWF('/images/multitask/swfs/bocadillo_<%= site_code %>.swf', 'bocadillo_claim', '310', '35', '9.0.0', false, fFlashVars, fParams, fAttribs);
    </script>
    <noscript>
      <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="310" height="35">
        <param name="movie" value="/images/multitask/swfs/bocadillo_<%= site_code %>.swf" />
        <param name="quality" value="high" />
        <param name="wmode" value="transparent" />
        <embed src="/images/multitask/swfs/bocadillo_<%= site_code %>.swf" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="310" height="35"></embed>
      </object>
    </noscript>
  </div>
  <ul class="acceso">
    <%= render :partial => 'shared/multitask/user_data', :locals => {:logged_out => logged_out} %>
  </ul><!-- .acceso -->
  <div class="botones">
      <a class="btn_grande btn_envivo" href="#" title="<%= t('coke_messenger.live_radio')%>">
          <span class="ico"><%= t('coke_messenger.live_radio')%></span>
          <span class="txt"><%= t('coke_messenger.live_radio')%></span>
          <span class="bg_fin">&nbsp;</span>  
      </a><!-- incluir clase .activo cuando este activa la radio -->
      <% if logged_in? %>
        <a class="btn_grande btn_mix" href="<%= playlist_create_path %>" content_switch_enabled="true" title="<%= t('actions.create_a_playlist') %>" content_switch_enabled="true">
      <% else %>
        <a class="btn_grande btn_mix" href="#" onclick="$.alert_layer('/registration_layers/create_playlist?return_to=<%= playlist_create_path %>')" title="<%= t('actions.create_a_playlist') %>">
      <% end %>
          <span class="ico"><%= t('actions.create_a_mix') %></span>
          <span class="txt"><%= t('actions.create_a_mix') %></span>
          <span class="bg_fin">&nbsp;</span>  
      </a>
  </div><!-- .botones -->
</div><!-- .bloque -->
