<% form_tag 'https://#{current_site.ssl_domain}#{session_path}', :class => "login_form" do %>
  <div>
      <div class="title"><%= t("sessions.new.title")%></div>
      
      <span class="label"><%= t("user.email") %></span> <%= text_field_tag 'email', params[:email], :class => 'text_input' %><br/>
      <label><%= t("user.password") %></label> <%= password_field_tag 'password', nil, :class => 'text_input' %><br/>
      <%= check_box_tag 'remember_me' %>
      <small><b><%= t("sessions.new.remember_me")%></b></small><br/><br/>
      <%= submit_tag t('actions.enter'), :class => 'submit_button' %><br/>
      <div class="left_side"><small><b><%= link_to t("actions.forgot_password"), forgot_path, :class => "forgot_link" %></b></small></div>
      <div class="clearer"></div>
  </div>
<% end %>
 
