<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Coca-Cola</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
    <meta name="KEYWORDS" content="" />
    
    <%= stylesheet_link_tag 'application', 'application_ext', 'coke' %>
    
    <% ['jquery-1.4.1.min', 'jquery.cycle.all.min', 'supersleight.plugin', 'functions', 'base'].each do |javascript| %>
      <%= javascript_include_tag javascript -%>
    <% end %>
</head>
<body>
    <div id="container">
        <div id="homepage_box">
            <div id="login_box">
              <% if flash[:error] %>
              <div id="login_error">
                <div class="left"></div>
                <div class="error_message">
                  <span><%= flash[:error] %></span>
                </div>
                <div class="right"></div>
              </div>
              <br class="clearer" />
              <% end %>
                <div class="red_box">
                    <div class="box_content">
                      <%= render 'form' %>                      
                    </div><!--/end box_content -->
                    
                    <div class="corners">
                        <%= image_tag "corner_red_top_left.gif", :class => 'top_left' %>
                        <%= image_tag "corner_red_top_right.gif", :class => 'top_right' %>
                        <%= image_tag "corner_red_bottom_left.gif", :class => 'bottom_left' %>
                        <%= image_tag "corner_red_bottom_right.gif", :class => 'bottom_right' %>
                    </div>
                </div><!--/end red_box -->
                
                <div class="register_text">
                    <%= t('sessions.new.dont_have_account')%><br/>
                    <a href="#"><%= t('registration.layers.click_here').titleize%></a>
                </div>
            </div><!--/end login_box -->
        </div><!--/end homepage_box -->
        <%= render 'shared/footer' %>
    </div><!--/end container -->

</body>
</html>