<%
  avatar = avatar_for(p, :large, :class => "portada", :height => 98, :width => 98)
%>
<div class="mix_bloque">
    <div class="mix_visible">
    
        <div class="mix_sub" id="sub_home">
            <div class="mix_contenido">
                <p class="accion"><%= short_date(p.updated_at) %></p>
                <h2><%= p.name %></h2>
                <div class="mix_valorar">
                    <% comments = p.comments.valid(:order => 'comments.updated_at DESC')%>
                    <%= link_to pluralize(comments.size, t('basics.comment')), "#comments_top", :class => "n_comentarios", :title => pluralize(comments.size, t('basics.comment')) %>
                    <div class="rating_bottles grey_round_box2 rating_input">
                      <%= multitask_rating(p, 5, "rating_inputs") %>
                      <strong><%= t('actions.rate_mix') %>:</strong>
                    </div><!-- .rating_bottles -->
                </div><!-- .mix_valorar -->
                <div class="mix_iframe">
                    <%= avatar %>
                    <div class="mix_incluidos">
                        <p><%= t('basics.contains') %>:</p>
                        <ul>
                          <%= station_contains(p, 3, false, {:content_switch_enabled => true}, {:make_list => true}) %>
                        </ul>
                        <p><%= t('modules.mix_detail.tags_text') %></p>
                        <p><%= tag_links(p, :playlists, nil, false, {:content_switch_enabled => true}) %></p>
                    </div><!-- .mix_incluidos -->
                </div><!-- .mix_iframe -->
            </div><!-- .mix_contenido -->
            <div class="mix_lateral">
                <a class="btn_rojo btn_slide" rel="sub_copiar" href="javascript:$.alert_layer('/messenger_player/alert_layer/copy_mix');" title="<%= t('coke_messenger.copy_mix').upcase %>">
                <%= t('coke_messenger.copy_mix').upcase %><span class="bg_fin">&nbsp;</span></a>
                <a class="btn_rojo btn_slide" rel="sub_compartir" href="javascript:$.alert_layer('/messenger_player/alert_layer/share_mix');" title="<%= t('coke_messenger.share_mix').upcase %>">
                  <%= t('coke_messenger.share_mix').upcase %><span class="bg_fin">&nbsp;</span></a>
                
                <% if profile_owner? %>
                  <a class="btn_rojo" href="<%= playlist_edit_path(p) %>" title="<%= t('coke_messenger.edit_mix').upcase %>" content_switch_enabled="true">
                    <%= t('coke_messenger.edit_mix').upcase %><span class="bg_fin">&nbsp;</span></a>
                <% end %>
                
                <div class="mix_abajo">
                    <p><%= t('modules.mix_detail.dj_text') %></p>

                    <a class="btn_amarillo" href="<%= playlist_create_path %>" title="<%= t('modules.mix_detail.create') %>" content_switch_enabled="true"><%= t('modules.mix_detail.create') %><span class="bg_fin">&nbsp;</span></a>
                </div><!-- .mix_abajo -->
            </div><!-- .mix_lateral -->
        </div><!-- #sub_home -->
        
        
        <div class="mix_sub" id="sub_copiar">
            <div class="mix_lateral">
                <a class="btn_rojo btn_slide" rel="sub_home" href="#" title="<%= t('basics.back') %>"><%= t('basics.back').upcase %><span class="bg_fin">&nbsp;</span></a>
                <ul id="copy_errors"></ul>
            </div><!-- .mix_lateral -->

            <div class="mix_contenido">
                <p class="accion"><%= t('actions.copy') %></p>
                <h2><%= t('basics.mix') %></h2>
                <%= avatar %>
                <div class="mix_incluidos">
                    <h3><%= p.name %></h3>
                    <p><%= t('basics.by') %>: <%= link_to p.owner.name, p.owner, :class=>"link_gris", :title => p.owner.name %></p>

                    <p><%= t('basics.contains') %>:</p>
                    <p><%= station_contains(p, 11, false, {:content_switch_enabled => true}) %></p>

                </div><!-- .mix_datos -->
                <form action="#" class="f_copiar" onsubmit="return false;">
                    <label class="estirar">
                      <span><%= t('coke_messenger.layers.copy_mix_layer.new_mix_name') %>:</span>                      
                      <input id="playlist_name" name="copy[name]" type="text" class="texto" /></label>
                    <input type="submit" value="<%= t('actions.submit').upcase %>" class="btn_rojo" onclick="Base.playlists.multitask_duplicate('<%= p.owner.slug %>',<%= p.id %>, 'sub_copiar'); return false;" />
                    <input type="reset" value="<%= t('actions.cancel').upcase %>" class="btn_gris" />
                </form><!-- .f_copiar -->
            </div><!-- .mix_contenido -->
        </div><!-- #sub_copiar -->

        
        <div class="mix_sub" id="sub_compartir">
            <div class="mix_lateral">
                <a class="btn_rojo btn_slide" rel="sub_home" href="#" title="<%= t('basics.back') %>"><%= t('basics.back').upcase %><span class="bg_fin">&nbsp;</span></a>
                <ul id="share_errors"></ul>
            </div><!-- .mix_lateral -->
            <div class="mix_contenido">
                <div class="mix_izq">
                    <p class="accion"><%= t('coke_messenger.layers.share_mix_layer.share') %></p>
                    <h2><%= t('coke_messenger.layers.share_mix_layer.social_net') %></h2>

                    <ul class="iconos">
                        <li><a title="<%= t('coke_messenger.layers.share_mix_layer.share_fb') %>" href="#" class="btn_facebook"><span class="link_decor">Facebook</span></a></li>
                        <li><a title="<%= t('coke_messenger.layers.share_mix_layer.share_or') %>" href="#" class="btn_orkut"><span class="link_decor">Orkut</span></a></li>
                        <li><a title="<%= t('coke_messenger.layers.share_mix_layer.share_tw') %>" href="#" class="btn_twitter"><span class="link_decor">Twitter</span></a></li>
                    </ul>
                </div><!-- .mix_izq -->
                <div class="mix_der">

                    <p class="accion"><%= t('coke_messenger.layers.share_mix_layer.share') %></p>
                    <h2><%= t('coke_messenger.layers.share_mix_layer.email') %> <span>(<%= t('coke_messenger.layers.share_mix_layer.enter_below') %>)</span></h2>
                    <form action="#" class="f_compartir">
                        <label class="estirar"><span><%= t('coke_messenger.layers.share_mix_layer.name') %></span> <input name="name" type="text" class="texto" /></label>
                        <label class="estirar"><span><%= t('coke_messenger.layers.share_mix_layer.email_to') %></span> <input name="email" type="text" class="texto" /></label>
                        <label class="estirar"><span><%= t('coke_messenger.layers.share_mix_layer.msg') %></span> <textarea name="message" rows="4" cols="15"></textarea></label>

                        <input type="submit" value="<%= t('actions.send').upcase %>" class="btn_rojo" />
                    </form><!-- .f_compartir -->
                </div><!-- .mix_der -->
            </div><!-- .mix_contenido -->
        </div><!-- #sub_compartir -->
    
    </div><!-- .mix_visible -->
</div><!-- .mix_bloque -->

<% if logged_in? %>
  <script type="text/javascript">
    $(document).ready(function(){

      //slide copiar compartir
      $("a.btn_slide").click(function(event) {
        $(this).attr("href", "#");
    	  event.preventDefault(); //detengo clic
    	  var elem = $(this).attr("rel");
    	  var ancho = $("#"+elem).width();
    	  if(elem=="sub_home"){ //si llamamos a la home, volver
    		  $(this).parent().parent().animate({"left":"+="+ancho+"px"});
      		$("#sub_home").animate({"left":"+="+ancho+"px"});
    	  }else{ //si llamamos a una pantalla, copiar, compartir
    		  $("#sub_home").animate({"left":"-="+ancho+"px"});
    		  $("#"+elem).animate({"left":"-="+ancho+"px"});
    	  }
      });

      //mostrar ocultar listas mixes usuario
      $(".mod_tab[id!=masmixes]").animate({"opacity":0},0);
      $("#menu_topmixes li:first-child").addClass("activo");
      $("#menu_topmixes a").click(function(event) {
    	  event.preventDefault(); //detengo clic
    	  var elem = $(this).attr("href");
    	  if($.browser.msie){//evitar bug png en animacion
    	    $(elem).css("background","#fff");
    	  }
    	  $("#menu_topmixes li").removeClass("activo");
    	  $(this).parent().addClass("activo");
          $(".mod_tab").animate({"opacity":0},500);
          $(elem).animate({"opacity":1},500);
      });

      //recojo anchor de la URL
      var urlentrada = $(location).attr('href');
      if (urlentrada.match('#')){
        var urlanchor = urlentrada.split('#')[1];
    	if(urlanchor=="comparto"){ //si viene para compartir por email
          var ancho = $("#sub_compartir").width();
    	  $("#sub_home").animate({"left":"-="+ancho+"px"});
    	  $("#sub_compartir").animate({"left":"-="+ancho+"px"});
    	}
      }

    });
  </script>
<% end %>