<% content_for :header_space_content do %>
  <%= render :partial => 'shared/create_playlist' %>
  <div class="clearer"></div>
  <br /><br />
<% end %>

<div class="two_columns">
  <h2><%= t("modules.top_playlists.title").upcase %></h2>

  <div class="playlist_items">

    <% top_playlists_size = @top_playlists.size %>
    <% columns = 3 %>
    <% cache("#{site_cache_key}/modules/playlists/top_playlists/#{top_playlists_size}", :expires_in => EXPIRATION_TIMES['top_modules_playlists']) do %>
      <%= render :partial => 'shared/big_playlist_item', :collection => @top_playlists, :locals => { :columns => columns } %>

      <% index = (@top_playlists_limit - 1) - top_playlists_size %>
      <% index.downto(0) do |i| %>
      <% last_item = i % columns == 0 %>
        <div class="playlist_item<%= " last_item" if last_item  %>">
          <div class="artist_box empty_item"></div>
        </div>
        <% if last_item %>
          <br class="clearer" />
        <% end %>
      <% end %>
    <% end %>
  </div><!--/end playlist_items -->


  <% cache("#{site_cache_key}/modules/tag_cloud", :expires_in => EXPIRATION_TIMES['site_tag_cloud']) do %>
    <%= render :partial => "shared/tag_cloud", :locals => { :tags => current_site.tag_counts_from_playlists } %>
  <% end %>

  <div class="top_playlists_column">
    <h2><%= t("modules.top_artists.title").upcase %></h2>

    <% cache("#{site_cache_key}/modules/playlists/top_artists", :expires_in => EXPIRATION_TIMES['top_modules_artists']) do %>
      <ul class="list_items">
        <%= render :partial => 'shared/top_artists_item', :collection => @top_artists %>
      </ul>
    <% end %>
  </div><!--/end top_playlists_column -->

  <%= render :partial => 'shared/today_top_djs' %>
</div><!--/end two_columns -->


<div class="latest_badges_column">
  <div class="ad_box">
    <%= banner_ad("square_banner") %>
    <!-- img alt="Coca-Cola.fm" src="/images/bucket-Coca-Fm.jpg" / -->
  </div>

  <br/>

  <h2><%= t("modules.latest_badge_awards.title").upcase%></h2>

  <% cache("#{site_cache_key}/modules/playlists/badge_awards", :expires_in => EXPIRATION_TIMES['top_modules_badge_awards']) do %>
    <ul class="list_items">
      <%= render :partial => 'shared/latest_badge_item', :collection => @latest_badges %>  
    </ul>
  <% end %>
</div><!--/end latest_badges_column -->
<div class="clearer"></div>
