<% content_for :header_space_content do %>
  <%= render :partial => 'shared/create_playlist' %>
  <div class="clearer"></div>
  <br /><br />
<% end %>

<div class="two_columns">
  <h1><%= t("modules.top_playlists.title").upcase %></h1>

  <div class="playlist_items">
    <% columns = 3 %>
    <%= render :partial => 'shared/big_playlist_item', :collection => @top_playlists, :locals => { :columns => columns } %>

    <% index = (6 - 1) - @top_playlists.size %>
    <% index.downto(0) do |i| %>
    <% last_item = i % columns == 0 %>
      <div class="playlist_item<%= " last_item" if last_item  %>">
        <div class="artist_box empty_item"></div>
      </div>
      <% if last_item %>
        <br class="clearer" />
      <% end %>
    <% end %>
  </div><!--/end playlist_items -->


  <%= render "shared/tag_cloud" %>

  <div class="top_playlists_column">
    <h1><%= t("modules.top_artists.title").upcase %></h1>

    <ul class="list_items">
      <%= render :partial => 'shared/top_artists_item', :collection => @top_artists %>
    </ul>
  </div><!--/end top_playlists_column -->

  <%= render :partial => 'shared/today_top_djs' %>
</div><!--/end two_columns -->


<div class="latest_badges_column">
  <div class="ad_box">
    <a href="#"><img src="images/open_happiness.jpg" alt="" /></a>
  </div>

  <br/>

  <h1><%= t("modules.latest_badge_awards.title").upcase%></h1>

  <ul class="list_items">
    <%= render :partial => 'shared/latest_badge_item', :collection => @latest_badges %>
  
    <%# TODO: Remove this <li> em badge are working %>
    <li>
        <span class="badge_box"><a href="#"><img src="images/badge_playlist.gif" alt="" /></a></span>
        <span class="item_image">
            <img src="images/item_image.gif" alt="" />
        </span>
        <div class="item_text">
            <big><b>My First Playlist</b></big><br/>
            <b><a href="#" class="red">Patrick Paul</a></b><br/>
            <small>Mexico</small>
        </div>
        <br class="clearer" />
    </li>
    <%# TODO: Remove this <li> em badge are working ^^^ %>
  
  </ul>
</div><!--/end latest_badges_column -->
<div class="clearer"></div>
