<% if logged_in? %>
  <script type="text/javascript">
    $(document).ready(function(){

      //slide copiar compartir
      $("a.btn_slide").click(function(event) {
        $(this).attr("href", "#");
    	  event.preventDefault(); //detengo clic
    	  var elem = $(this).attr("rel");
    	  var ancho = $("#"+elem).width();
    	  if(elem=="sub_home"){ //si llamamos a la home, volver
    		$(this).parent().parent().animate({"left":"+="+ancho+"px"});
    		$("#"+elem).animate({"left":"+="+ancho+"px"});
    	  }else{ //si llamamos a una pantalla, copiar, compartir
    		  $("#sub_home").animate({"left":"-="+ancho+"px"});
    		  $("#"+elem).animate({"left":"-="+ancho+"px"});
    	  }
      });

      //mostrar ocultar listas mixes usuario
      $(".mod_tab[id!=masmixes]").animate({"opacity":0},0);
      $("#menu_topmixes li:first-child").addClass("activo");
      $("#menu_topmixes a").click(function(event) {
    	  event.preventDefault(); //detengo clic
    	  var elem = $(this).attr("href");
    	  if($.browser.msie){//evitar bug png en animacion
    	    $(elem).css("background","#fff");
    	  }
    	  $("#menu_topmixes li").removeClass("activo");
    	  $(this).parent().addClass("activo");
          $(".mod_tab").animate({"opacity":0},500);
          $(elem).animate({"opacity":1},500);
      });

      //recojo anchor de la URL
      var urlentrada = $(location).attr('href');
      if (urlentrada.match('#')){
        var urlanchor = urlentrada.split('#')[1];
    	if(urlanchor=="comparto"){ //si viene para compartir por email
          var ancho = $("#sub_compartir").width();
    	  $("#sub_home").animate({"left":"-="+ancho+"px"});
    	  $("#sub_compartir").animate({"left":"-="+ancho+"px"});
    	}
      }

    });
  </script>
<% end %>
<div class="contenido" id="mix">
  <div class="bloque">
    <%= render :partial => 'radio/mix_data', :locals => {:p => @station_obj.playable} %>
            
    <div class="cont_columna doble">
                
        <div class="mod_perfil">
            <h2 class="tit_bloque">
                <span class="txt"><%= t('modules.mix_detail.title') %><em><%= @station_obj.playable.name %></em></span>
                <span class="bg_fin">&nbsp;</span>
            </h2><!-- .tit_bloque -->
            <%= render :partial => 'shared/multitask/profile/user_data', :locals => {:user => @station_obj.playable.owner} %>
        </div><!-- .mod_perfil -->

    
        <%#= render :partial => 'radio/reviews', :locals => {:p => @station_obj.playable} %>
        <%= render :partial => 'radio/top_mixes', :locals => {:collection => @top_playlists} %>        
        
      
    </div><!-- .cont_columna doble -->
            
    <div class="cont_columna der">
        <div class="open_happiness_box">
            <%= banner_ad("square_banner") %>
        </div>        
        
        <div class="mod_top mod_masmixes columna">
          <% user = @station_obj.playable.owner %>
          <h2 class="tit_bloque gris">
            <span class="txt"><%= t('modules.mix_detail.top_mixes') %><em><%= user.name %></em></span>
            <span class="bg_fin">&nbsp;</span>
          </h2>
          <ul class="mixes">
            <% user.playlists.top(5).each do |p| %>
              <%= render :partial => 'radio/top_mix', :locals => {:p => p} %>
            <% end %>
          </ul>
          <a class="ico_mas" href="<%= profile_owner? ? my_playlists_path : user_playlists_path(user) %>" title="<%= t('actions.view_more') %>" content_switch_enabled="true"><%= t('actions.view_more') %><span class="bg_flecha">&nbsp;</span></a>
        </div><!-- .mod_top -->          
          
    </div><!-- .cont_columna der -->
            
  </div><!-- /bloque -->
</div><!-- .contenido -->