<div class="support_pages">

	<% content_for :title do %>
		<%=  t('band_index.title') %>
	<% end %>

	<h1><%=  t('band_index.title') %></h1>

	<p class="preamble">
		<%=  t('band_index.description') %>
	</p>


	<table class="coke">
		<thead>
			<tr>

				<td><%=  t('band_index.table_header') %></td>
			</tr>
		</thead>
		<tbody>
		  <% unless @accounts.nil? or @accounts.blank? then %>
			<%
         @accounts.each { |account| %>
						<tr>
							<td>
								<h2>
									<a href="/search/playlists/<%= account.name %>">
										<%= account.name %>
									</a>
								</h2>
							</td>
						</tr>

			<% } %>
			<% else %>
         			<tr>
							<td>
								<h2>
									Unable to find Bandname with requested filtering option.
								</h2>
							</td>
						</tr>
      <% end %>


		</tbody>
	</table>
	<br/>
	
	<div class="alplabetic_filter_list">
				<% "A".upto("Z") do | var | %>
					<% if var == params[:id] then %>
				    <span id="current_alphabet"><a href="/index-bands/<%=  var %>"><%=  var %></a>&nbsp;</span>
					<% else %>
					  <a href="/index-bands/<%=  var %>"><%=  var %></a>&nbsp;
					<% end %>
				<% end %>
  </div>
	<div class="numeric_filter_list">
				<% 0.upto(9) do | var | %>
					<% if var == params[:id] then %>
			  	  <span id="current_numeric"><a href="/index-bands/<%=  var %>"><%=  var %></a>&nbsp;</span>
					<% else %>
					  <a href="/index-bands/<%=  var %>"><%=  var %></a>&nbsp;
					<% end %>
					
				<% end %>
				 <a href="/index-bands/special">#</a>&nbsp;
	</div>
</div>
