<div class="songs_list">
    <div class="headers">
        <div class="a_name">ALBUM NAME</div>
        <div class="last">&nbsp;</div>
        <br class="clearer" />
    </div><!--/end headers -->

    <div class="songs_box medium_height">
        <ul class="results_by_artist">
          <% @results.each do |album| %>
            <li onclick='get_song_list("<%=album.id %>","album"); return false;'>
                <%= avatar_for(album, :search_results, {:class => "icon"}) %>
                <div class="links">
                    <b><a href="#" onclick='get_song_list("<%=album.id %>","album"); return false;' class="black"><%= truncate(album.name, :length => 60) %></a></b><br/>
                    <small><a href="#" onclick='get_song_list("<%=album.id %>","album"); return false;' class="grey"><%= truncate(album.owner.name, :length => 60) %></a></small>
                </div>
                <br class="clearer" />
            </li>
          <% end %>
        </ul>
    </div><!--/end songs_box -->
</div><!--/end songs_list -->