<div class="popup" id="auto_fill_popup">
    <div class="top_shadow">
        <div class="top_left corner"></div>
        <div class="center_shadow"></div>
        <div class="top_right corner"></div>
        <a href="#" onclick="$('#auto_fill_popup').fadeOut('fast'); return false;"><img src="/images/popup_close.png" class="popup_close png_fix" alt="X" title="Close" /></a>
    </div>
    
    <div class="popup_content">
        <div class="title"><%= t('playlists.autofill_option') %></div>

        <div class="auto_fill_text">
            <%= t('playlists.autofill_option_text') %>
        </div>
    </div>
    
    <div class="bottom_shadow">
        <div class="bottom_left corner"></div>
        <div class="center_shadow"></div>
        <div class="bottom_right corner"></div>
    </div>

</div><!--/end popup -->

<div id="save_mix_popup" style="display:none;">
  <%= form_tag playlist_create_path, :class => "save_playlist_form account_settings", :method => :post, :multipart => true %>
    <input type="hidden" name="item_ids" value="">
    <div class="title"><%= t('playlists.save_your_playlist') %></div>
    <div class="form_row">
      <label><b><%= t('playlists.name_your_playlist') %></b></label>
      <div class="grey_round_box">
        <input type="text" class="input full_width" name="name" value="<%= params[:name] %>" />
      </div>
      <label><b><%= t('playlists.tag_your_playlist') %></b> 
        <a href="#" onclick ="Base.playlists.showTagsLayer();return false;"class="red">
          <%= t('playlists.click_here_to_add_tags') %>
        </a>
      </label>
      <div class="grey_round_box">
        <input type="text" class="input full_width" name="tags" value="<%= params[:tags] %>" />
      </div>
    </div><!--/end form_row -->
    <br/>
    <div class="form_row">
      <label><b><%= t('playlists.picture') %></b></label>
      <div class="playlist_image_container">
        <img id="save_layer_avatar" alt="" class="save_layer_avatar valign_middle avatar playlist float_left" src="/images/upload_image_placeholder.gif" />
        <label class='label_holder'>
          <a href="#" onclick="return false;" id="avatar_upload_button" class="red_button valign_middle"><span><span><%= t('playlists.add_update') %></span></span></a>
          <input id="playlist_avatar" type="file" class="playlist_avatar file" name="avatar" size="30" onchange="save_playlist_image_preview();"/>
        </label>
        <div id="uploaded_image_name" class="uploaded_image_name">filename</div>
        <br class="clearer" />
      </div>
    </div><!--/end form_row -->
    <br/>
    <div class="align_right">
      <big>
        <a href="#" onclick="$('#save_mix_popup').fadeOut('fast'); return false;" class="not_underlined black valign_middle popup_close_action">
          <%= t('actions.cancel') %>
        </a>
      </big>
      <a href="#" class="red_button valign_middle btn_red_loading" onclick="submit_save_form(); return false;">
        <span>
          <span class="red_loading" loading_message="<%= t('actions.saving') %>"><%= t('actions.save') %></span>
        </span>
      </a>
    </div>
  </form>
</div>

<div id="unable_popup" style="display:none;">
  <div class="title"><%= t('playlists.unable_save') %></div>
  <div class="auto_fill_text">
    <%= t('playlists.unable_save_text') %>
  </div>
</div>

<div id="cancel_popup" style="display:none;">
  <form action="" method="post" class="account_settings">
    <div class="title"><%= t('playlists.cancel_playlist') %></div>
    <div class="form_row">
      <div class="auto_fill_text">
        <%= t('playlists.cancel_playlist_text') %> 
      </div>
      <br/>
    </div>
    <br/>
    <div class="align_right">
      <big>
        <a href="#" onclick="$(document).trigger('close.facebox'); return false;" class="not_underlined black valign_middle popup_close_action">
          <%= t('playlists.no_thanks') %>
        </a>
      </big>
      <a href="#" onclick="close_cancel_popup(); return false;" class="red_button valign_middle"><span><span><%= t('playlists.continue') %></span></span></a>
    </div>
  </form>
</div>
    
<div id="edit_conf_popup" style="display:none;">
  <form action="" method="post" class="account_settings">
    <div class="title"><%= t('playlists.save_confirmation') %></div>
    <div class="form_row">
      <div class="auto_fill_text">
        <%= t('playlists.edit_confirm_text') %> 
      </div>
      <br/>
    </div>
    <br/>
    <div class="align_right">
      <a href="#" onclick="$(document).trigger('close.facebox'); return false;" class="red_button valign_middle">
        <span><span><%= t('basics.yes') %></span></span>
      </a>&nbsp;&nbsp;
      <a href="<%= my_playlists_path %>" class="red_button valign_middle">
        <span><span><%= t('basics.no') %></span></span>
      </a>
    </div>
  </form>
</div>

<div id="avatar_delete_popup" style="display:none;">
  <form action="" method="post" class="account_settings">
    <div class="title"><%= t('playlists.avatar_delete_confirm_title') %></div>
    <div class="form_row">
      <div class="auto_fill_text">
        <%= t('playlists.avatar_delete_confirm_text') %> 
      </div>
      <br/>
    </div>
    <br/>
    <div class="align_right">
      <a href="#" class="red_button valign_middle" onclick="Base.playlists.avatarDeleteConfirm(); return false;">
        <span><span><%= t('basics.yes') %></span></span>
      </a>&nbsp;&nbsp;
      <a href="#" onclick="$(document).trigger('close.facebox'); return false;" class="red_button valign_middle">
        <span><span><%= t('basics.no') %></span></span>
      </a>
    </div>
  </form>
</div>

<div class="popup" id="tags_popup">
  <div class="top_shadow">
    <div class="top_left corner"></div>
    <div class="center_shadow"></div>
    <div class="top_right corner"></div>
    <a href="#" onclick="$('#tags_popup').fadeOut('fast'); return false;">
      <img src="/images/popup_close.png" class="popup_close png_fix" alt="X" title="Close" />
    </a>
  </div>
    
  <div class="popup_content">
    <div class="title"><%= t('playlists.add_tags') %></div>
    <div class="tag_box">
      <div class="grey_round_box" id="tag_container">
        <div id="tag_counts">
          <span id="available_tags_count">(280)</span>
          <span id="selected_tags_count">(5)</span>&nbsp; 
          <a href="#" class="red">Remove all</a>
        </div>
        <div id="available_tags">
          <ul class="available_tags">
            <li><a href="#">Adrenalina</a></li>
            <li><a href="#">Alternativo</a></li>
            <li><a href="#">Aplausos</a></li>
            <li><a href="#">Celebracion</a></li>
            <li><a href="#">Felicidad</a></li>
            <li><a href="#">Fuerza</a></li>
            <li><a href="#">Emocion</a></li>
            <li><a href="#">Energia</a></li>
            <li><a href="#">Intensidad</a></li>
            <li><a href="#">Teste</a></li>
          </ul>
        </div>
        <div id="selected_tags">
          <ul class="selected_tags">
            <li><a href="#">Adrenalina</a></li>
            <li><a href="#">Alternativo</a></li>
            <li><a href="#">Aplausos</a></li>
            <li><a href="#">Celebracion</a></li>
            <li><a href="#">Adrenalina</a></li>
            <li><a href="#">Alternativo</a></li>
            <li><a href="#">Aplausos</a></li>
            <li><a href="#">Celebracion</a></li>
            <li><a href="#">Adrenalina</a></li>
            <li><a href="#">Alternativo</a></li>
            <li><a href="#">Aplausos</a></li>
            <li><a href="#">Celebracion</a></li>
          <ul/>
        </div>
      </div>
    </div>
    <br/>
    <div class="align_right">
      <a href="#" class="red_button valign_middle" onclick="Base.playlists.avatarDeleteConfirm(); return false;">
        <span><span><%= t('actions.cancel') %></span></span>
      </a>&nbsp;&nbsp;
      <a href="#" onclick="$(document).trigger('close.facebox'); return false;" class="red_button valign_middle">
        <span><span><%= t('actions.save') %></span></span>
      </a>
    </div>
  </div>
    
  <div class="bottom_shadow">
    <div class="bottom_left corner"></div>
    <div class="center_shadow"></div>
    <div class="bottom_right corner"></div>
  </div>
</div><!--/end popup -->
