<div class="songs_list my_mix">
  <div class="headers">
    <div class="song_name upper"><%= t('basics.song_name') %></div>
    <div class="artist_name upper"><%= t('basics.artist') %></div>
    <div class="album_name upper"><%= t('basics.album') %></div>
    <div class="large_bnt">&nbsp;</div>
    <div class="last">&nbsp;</div>

    <br class="clearer" />
  </div><!--/end headers -->

  <div class="songs_box medium_height">
    <ul class="hoverable_list" id="result_container">
      <% @results.each do |song| %>
        <li id="search_result_<%= song.id %>" class="draggable_item">
            <div class="song_name">
              <%= link_to_function image_tag("icon_play_button.png", :class => "png_fix icon_play_button"), "Base.playlists.playStream(this, 'http://media.cyloop.com/storage/storage?fileName=#{song.path}', '#{song.id}')"%>
                &nbsp; <%= truncate(song.title, :length => 20) %>
            </div>

            <div class="artist_name"><b><%= truncate(song.artist.name, :length => 20) %></b></div>
            <div class="album_name"><%= truncate(song.album.name, :length => 16) %></div>
            <div class="large_bnt">
              <b><a href="#" class="black" onclick="add_item(<%= song.id %>, '<%= song.title.gsub("'", "\\'") %>', <%= song.artist.id %>, '<%= song.artist.name.gsub("'", "\\'") %>', <%= song.album.id %>, '<%= song.album.name.gsub("'", "\\'") %>', '<%= AvatarsHelper.avatar_path( song, :small ) %>'); remove_search_result(<%= song.id %>); return false;">+</a></b></div>

            <br class="clearer" />
        </li>
        
      <% end %>
    </ul>
  </div><!--/end songs_box -->
</div><!--/end songs_list -->
<script language="javascript">
  init_draggable();
</script>
