%h3.txt2 AÑADIR CANCIONES
%h4.txt2= "Artista: <b>#{@results[0].artist.name}</b>"
.menu-canciones
  %ul
    %li.crs cursor
    %span.tip_arrastrar Puedes arrastrar las canciones a Tu mix
    %li= link_to 'Nombre de la canc&oacute;n', '#', :class => 'sng arriba'
    %li= link_to 'Artista', '#'
    %li= link_to 'Album', '#'
.contenido-mix
  - @results.each do |song|
    %ul.lista_canciones.draggable_item{:id => "item-#{song.id}"}
      %li.avt= avatar_for(song.album)
      %li.ply= link_to image_tag('/images/bt_play.png'), '#'
      %li.n= link_to truncate(song.title, 23, '...'), '#'
      %li.art= link_to song.artist.name, '#'
      %li.alb= link_to truncate(song.album.name, 16, '...'), '#'
      %li.fin_list
        = link_to_function image_tag('/images/bt_mover.png'), "Base.Console.addItem({songID: #{song.id}, songTitle: '#{escape_for_js(truncate(song.title, :limit => 10, :omission => '...'))}', artistID: '#{song.artist.id}', artistName: '#{escape_for_js(song.artist.name)}', albumID: '#{song.album.id}', albumName: '#{escape_for_js(truncate(song.album.name, :limit => 16, :omission => '...'))}', image: '#{AvatarsHelper.avatar_path(song, :small)}', suppressValidation: false, itemID: 0, stationID: #{song.artist.station ? song.artist.station.id : 0} })"
