<div class="rules_list">
    <div id="artist_error_tag" class="rule lower"><%= t('playlists.maximum_songs_from',:num => 3, :type => "#{t('basics.artist')}") %></div>
    <div id="album_error_tag" class="rule lower"><%= t('playlists.maximum_songs_from',:num => 3, :type => "#{t('basics.album')}") %></div>
</div><!--/end rules_list -->

<h2 class="left_side" id="playlist_error_tag"><span id="remaining_track_count">10</span> <%= t('playlists.tracks_remaining') %></h2>
<div class="black_count" id="track_count">0</div>

<br class="clearer" />


<div class="dotted_box">
    <div class="layer2">
        <div id="empty_playlist" class="layer3">
            <div class="step_no">2</div>
            <h2><%= t('playlists.drag_songs_here') %></h2>

            <div>
                <%= t('playlists.drag_songs_here_text') %>
            </div>
        </div>
        
        <div id="populated_playlist" class="added_items_box hidden">
            <ul id="playlist_item_list" class="added_items">
              
            </ul>
        </div><!--/end added_items_box -->
    </div>
</div><!--/end dotted_box -->



<div class="align_right">
    <div class="left_side">
        <!-- <a href="#" id="autofill_button" onclick="void(0); return false;" class="green_button" style="display:none"><span><span><%= t('playlists.autofill') %></span></span></a>

                <a href="#" id="autofill_button_ques" style="display:none" onclick="$('#auto_fill_popup').fadeIn('fast'); return false;"><img src="/images/unable_qmark.gif" class="unable_qmark" alt="" /></a> -->                        
    </div>
    
    
    <div class="right_side">
        <a href="#" class="cancel_button" onclick="$('#cancel_popup').fadeIn('fast'); return false;"><%= t('actions.cancel') %></a>
        <a href="#" id="save_button" class="red_button" style="display:none" onclick="open_save_popup(); return false;"><span><span><%= t('actions.save') %></span></span></a>
    </div><!--/end right_side -->
    
    <div class="clearer"></div>
</div>
<%= render :partial => "playlists/create/create_popups" %>


<script language="javascript">
  
  <% @playlist_items.each do |item| %>
    add_item(<%= item.id %>, '<%= escape_for_js(item.title) %>', <%= item.artist.id %>, '<%= escape_for_js(item.artist.name) %>', <%= item.album.id %>, '<%= escape_for_js(item.album.name) %>', '<%= AvatarsHelper.avatar_path(item, :small) %>', true);
  <% end %>
  
  <% if @playlist %>
    edit_playlist = true;
    validate_items();
  <% end %>
  
</script>
