<div class="rules_list">
    <div class="rule lower"><%= t('playlists.maximum_songs_from',:num => 2, :type => "#{t('basics.artist')}") %></div>
    <div class="rule lower"><%= t('playlists.maximum_songs_from',:num => 2, :type => "#{t('basics.album')}") %></div>
</div><!--/end rules_list -->

<h2 class="left_side"><span id="remaining_track_count">10</span> <%= t('playlists.tracks_remaining') %></h2>
<div class="black_count" id="track_count">0</div>

<br class="clearer" />

<div class="dotted_box">
    <div class="layer2">
        <div class="layer3">
            <div class="step_no">2</div>
            <h2><%= t('playlists.drag_songs_here') %></h2>

            <div>
                <%= t('playlists.drag_songs_here_text') %>
            </div>
        </div>
    </div>
</div><!--/end dotted_box -->

<div class="align_right">
    <a href="#" class="cancel_button upper"><%= t('actions.cancel') %></a>
</div>