<script language="javascript">
  $(document).ready(function(){
    Base.badges.init_notifications();
  });
</script>
<div class="popup" id="congrats_popup">
  <div class="top_shadow">
    <div class="top_left corner"></div>
    <div class="center_shadow"></div>
    <div class="top_right corner"></div>
    <a href="#" class="congrats_update"><img src="/images/popup_close.png" class="popup_close png_fix" alt="X" title="Close" /></a>
  </div>
  <div class="popup_content">
    <div class="title"><%= @notifications.size > 1 ? t("modules.badge_notifications.title_plural", :badge_count => @notifications.size) : t("modules.badge_notifications.title_singular") %></div>
   
    <div class="congrats_box">
      <ul id="congrats_slides">
      <% @notifications.each_with_index do |badge_award, index | %>
        <li>
          <%= image_tag badge_award.image(:mega), :class => "congrats_badge" %>       
          <div class="congrats_text">
            <big><b><%= t("badges.#{badge_award.badge_key}.name") %></b></big><br/>
            <b class="grey"><%= t("badges.#{badge_award.badge_key}.qualification", :playlist_name => badge_award.playlist_name) %></b><br/><br/><br/>
            <%= "#{t('badges.unlocked_on')}: #{l(badge_award.created_at)}" %>           
          </div> 
          <div class="clearer"></div>
        </li>
      <% end %>
      </ul>
    </div><!--/end congrats_box -->
    <div class="align_right">
      <%= red_button('OK', :class => 'valign_middle congrats_update') %>
    </div>
  </div>
  <div class="bottom_shadow">
    <div class="bottom_left corner"></div>
    <div class="center_shadow"></div>
    <div class="bottom_right corner"></div>
  </div>
</div>