<% content_for :main_content do %>

  <div class="mod_badges_lista">  
    <h2 class="tit_bloque">
        <span class="txt"><%= t('profile.navigation.badges') %><em><%= t('modules.latest_badges.description', :user_name => profile_user.name) %></em></span>
        <span class="bg_fin">&nbsp;</span>
    </h2>
    
    <%= sort_form("f_ordenar", :latest, :alphabetical) %>
    
    <% if @collection.empty? %>
      <p class="no_resultados"><%= possessive :has_not_badges %></p>
    <% else %>
      <ul class="big_badges_list">
        <%= render :partial => 'badge_award', :collection => @collection %>
      </ul>
    <% end %>
    
    <%= will_paginate @collection, pagination_args %>
  </div><!-- .mod_badges_lista -->

<% end %>

<%= render :partial => 'shared/multitask/profile/layout', :locals => {:user => profile_user, :id => "usuario"} %>


