<% content_for :header_space_content do %>
  <%= render 'users/stats' %>
<% end %>

<%= render 'shared/ajax_modules' %>

<div class="two_columns">
    <div class="badge_detail">
        <%= image_tag @badge_award.image(:mega), :class => "detail_img" %>
        
        <div class="detail_text">
            <div class="title"><%= t("badges.#{@badge_award.badge_key}.name") %></div>
<big><b class="grey"><%= @badge_award.playlist_id.nil? ? t("badges.#{@badge_award.badge_key}.qualification") : t("badges.#{@badge_award.badge_key}.qualification", :playlist_name => @badge_award.deleted_playlist_name) %></b></big>
        
            <br/><br/><br/>
            
            <%= avatar_for(profile_user, :small) %>
            <div class="small_text">
                <%= t('badges.unlocked_by_user_on', :user => "<b>#{link_to(@badge_award.winner.name, @badge_award.winner)}</b>", :date_won => l(@badge_award.created_at)) %>
            </div>
        </div>
        
        <div class="clearer"></div>
    </div>
    
    <h1><%= possessive :friends_that_have_this_badge %></h1>    
    <% if @friends_with_badge.size > 0 %>
      <div>
      <% @friends_with_badge.each do |friend| %>
          <div class="small_thumb">
              <%= link_to avatar_for(friend, :small, :class => "spaced_img"), user_path(friend) %>
              <%= link_to friend.name, user_path(friend) %>
          </div>
      <% end%>  
      <div class="clearer"></div>
      </div>
    <% else %>
    <div class="medium_text">
      <%= possessive :friends_dont_have_badge %>
    </div>
    <% end %>
    <br />
    <h1><%= t('badges.others_that_have_this_badge') %></h1>    
    
    <% if @others_with_badge.size > 0 %>
      <div>
      <% @others_with_badge.each do |friend| %>
        <div class="small_thumb">
          <%= link_to avatar_for(friend, :small, :class => "spaced_img"), user_path(friend) %>
          <%= link_to friend.name, user_path(friend) %>
        </div>        
      <% end %>  
      <div class="clearer"></div>
      </div>
    <% else %>
      <div class="medium_text">
        <%= possessive :others_dont_have_badge %>
      </div>
    <% end %>
</div><!--/end two_columns -->

<%= render on_dashboard? ? 'dashboards/right_column' : 'accounts/right_column' %>

<div class="clearer"></div>
