<% if current_user %>
  <% unless current_user.id == user.id %>
    <% if current_user.follows?(user) %>    
      <a slug="<%=user.slug%>" id="following" class="follow_button btn_rojo btn_rojo_grande activo" href="#" onclick="Base.community.multitask_unfollow('<%= user.slug %>', this, ''); return false;">
        <%= t('actions.unfollow').upcase %><span class="bg_fin">&nbsp;</span>
      </a>
    <% else %>
      <a slug="<%=user.slug%>" id="not_following" class="follow_button btn_rojo btn_rojo_grande" href="#" onclick="Base.community.multitask_follow('<%= user.slug %>', this, ''); return false;">
        <%= t('actions.follow').upcase %><span class="bg_fin">&nbsp;</span>
      </a>
    <% end %>
  <% end %>
<% else %>
  <a slug="<%=user.slug%>" id="not_following" class="follow_button btn_rojo btn_rojo_grande" href="#" onclick="return Base.utils.showRegistrationLayer('<%= current_site_url + user_path(user.slug) %>', 'follow_user', <%= user.id %>);">
    <%= t('actions.follow').upcase %><span class="bg_fin">&nbsp;</span>
  </a>
<% end %>
