<div class="mod_badges">
  <h2 class="tit_bloque">
      <span class="txt"><%= t('modules.latest_badges.title') %><em><%= t('modules.latest_badges.description', :user_name => user.name) %></em></span>
      <span class="bg_fin">&nbsp;</span>
  </h2><!-- .tit_bloque -->
  <% if user.total_badges < 1 %>
    <p class="no_resultados"><%= possessive :has_not_badges %></p>
  <% else %>
    <div class="mod_contenedor">
      <% user.badge_awards.all(:limit => 18, :order => 'badge_awards.created_at DESC').each do |badge_award| %>
        <%= link_to( image_tag(badge_award.image, :title => t("badges.#{badge_award.badge_key}.name"), :class => "medalla"), badge_path(badge_award), :content_switch_enabled => true) %>
      <% end %>
    </div>
    <a class="ico_mas" href="<%= user_badges_path(user) %>" title="<%= t('actions.view_more') %>" content_switch_enabled="true"><%= t('actions.view_more') %><span class="bg_flecha">&nbsp;</span></a>
  <% end %>
</div><!-- .mod_badges -->