<div class="mod_actividad">
    <h2 class="tit_bloque">
        <span class="txt"><%= t('modules.recent_activity.title').capitalize %><em><%= t('modules.network_activity.description', :user_name => user.name) %></em></span>
        <span class="bg_fin">&nbsp;</span>
    </h2><!-- .tit_bloque -->
    
    <div class="network_update">
      <!--
      <h3>Comparte tus emociones</h3>
      -->
        <form class="f_comentarios" id="network_update_form" onsubmit="return false;">
            <p class="caracteres"><span id="chars_counter">140</span> <%= t('modules.recent_activity.chars_left') %></p>
            <%= avatar_for(current_user, :small, :class => "network_icon") %>
            <textarea id="network_comment" onkeyup="Base.activity.count_chars();" onchange="Base.activity.count_chars();" name="comment" rows="2" cols="20" class="bocadillo"></textarea>
            <span class="share_button_container">
              <a href="#" class="compartir_button post_button" onclick='Base.activity.pushUpdate(this); return false;'><%= t('actions.share').upcase %></a>
              <img class="loading" src="/images/loading.gif"/>
            </span>
        </form>
    </div>
    
    <%= sort_form("f_ordenar", :user_followings, :user, :followings) %>

    <% if activity.empty? %>
      <p class="no_resultados"><%= possessive :has_not_activities %></p>
    <% end %>
    <ul class="comments_list">
      <%= render :partial => 'activities/item', :collection => activity %>
    </ul><!-- .comments_list -->
    
    <% if @has_more %>
      <a class="ico_mas" href="<%= my_activities_path %>" content_switch_enabled="true" title="<%= t('actions.view_more') %>"><%= t('actions.view_more') %><span class="bg_flecha">&nbsp;</span></a>
    <% end %>
</div><!-- .mod_actividad -->