<%
  if action_name=="show" and ["accounts", "dashboards"].include?controller_name
    hide_info = false
  else
    hide_info = true
  end
%>

<div class="usuario_ficha <%= "ficha_plegada" if hide_info %>">
    <div class="ficha_top">&nbsp;</div>

    <div class="ficha_cont">
        <a class="mas_info menos_info" href="#" title="<%= hide_info ? t('actions.show') : t('actions.hide') %>"><%= hide_info ? t('actions.show') : t('actions.hide') %><span class="bg_flecha">&nbsp;</span></a>
        <%= avatar_for(user, :album, :class => "avatar", :width => "229", :height => "229", :disable_default_css => true) %>
        <div class="datos">
          <h2><%= user.name %></h2>
          <p class="p_edad"><%= user.age %> a&ntilde;os</p>

          <p class="p_pais"><%= user.country.name unless user.country.nil? %></p>
          <ul class="totales">
              <li><span><%= t('profile.navigation.mixes') %></span><%= link_to user.total_playlists, (profile_owner? ? my_playlists_path : user_playlists_path(user)), :title => user.total_playlists, :content_switch_enabled => true %></li>
              
              <li><span><%= t('profile.navigation.badges') %></span><%= link_to user.total_badges, (profile_owner? ? my_badges_path : user_badges_path(user)), :title => user.total_badges, :content_switch_enabled => true %></li>
              
              <li><span><%= t('profile.navigation.followers') %></span><%= link_to user.follower_count, (profile_owner? ? my_followers_path : user_followers_path(user)), :title => user.follower_count, :content_switch_enabled => true %></li>

              <li><span><%= t('profile.navigation.following') %></span><%= link_to user.followee_count, (profile_owner? ? my_following_index_path : user_following_index_path(user)), :title => user.followee_count, :content_switch_enabled => true %></li>
          </ul>
          
          <% if profile_owner? %>
            <a class="btn_rojo" href="<%= my_settings_path %>" content_switch_enabled="true" title="<%= t('contact_us.form.category_account') %>" content_switch_enabled="true">
              <%= t('contact_us.form.category_account').upcase %><span class="bg_fin">&nbsp;</span>
            </a>
          <% else %>
            <%= render :partial => 'shared/multitask/profile/follow_button', :locals => {:user => user} %>
          <% end %>
        </div>
    </div>
    <div class="ficha_pie">&nbsp;</div>
</div><!-- .usuario_ficha -->
