<div class="box_content">
  <h1><%= possessive :followees %></h1>

  <% if profile_user.followee_count < 1 %>
    <div class="medium_text">
      <%= possessive :is_not_following %>
    </div>
  <% else %>
    <% followings = profile_user.followees.with_limit(5) %>
    <% followings.each_with_index do |follow, index| %>
      <div class="small_thumb<%= " last_thumb" if index == 4 %>">
        <%= link_to avatar_for(follow, :small), follow %>
        <%= link_to truncate(follow.name,:length => 18), follow %>
      </div>
      <% if index == 4 %>
        <br class="clearer" />
      <% end %>

    <% end %>

    <% index = (5 - followings.size) %>
    <% index.times do |i| %>
      <div class="small_thumb <%= "last_thumb" if i == (index-1) or i == (index-5) %>">
        <img alt="" src="/images/empty_img_50.gif">
      </div>
      <% if i == index-5 %>
        <br class="clearer" />
      <% end %>
    <% end %>

  <% end %>
  <br class="clearer" />
  <% if profile_user.followee_count > 5 %>
    <div class="align_right">
      <b>
        <%= link_to(t('actions.view_more'),  following_index_path ) %>
      </b>
    </div>
  <% end %>

</div>

