<% if profile_account.total_playlists > 6 %>
<b class="right_side"><%= link_to t("actions.view_more"), playlists_path %></a></b>
<% end %>

<h1><%= possessive :latest_playlists %></h1>

<% if profile_account.total_playlists < 1 %>
  <div class="medium_text">
    <%= t("dashboards.user_has_no_playlists", :name => profile_user.name) %>
  </div>
<% else %>

  <% profile_user.playlists.latest.each_with_index do |p, i| %>
    <%= render :partial => 'playlists/box', :locals => { :p => p, :last => ((i+1) % 3 == 0) } %>
  <% end %>

  <% latest_size = profile_user.playlists.latest.size %>

  <% if latest_size < 6 and latest_size > 0 %>
    <% (6 - latest_size).times do |i| %>
      <div class="artist_box pl <%= "last_box" if ((i + 1 + latest_size) % 3 == 0) %> png_fix">
        <img alt="" src="images/empty_img.gif">
      </div>
      <% if ((i + 1 + latest_size) % 3 == 0) %>
        <br class="clearer" />
      <% end %>
    <% end %>
  <% end %>

<% end %>

<div class="clearer"></div>

<br/><br/>

