<% if profile_account.playlists.size > 6 %>
  <b class="right_side">
    <%= link_to('view all', user_playlists_path(profile_account)) %>
  </b>
<% end %>

<h1><%= t('playlists.latest', :subject => profile_account.first_name) %></h1>

<% if profile_account.playlists.latest.blank? %>
  <div class="medium_text">
    <%= t("dashboards.user_has_no_playlists", :name => profile_account.name) %>
  </div>
<% else %>

  <% profile_account.playlists.latest.each_with_index do |p, i| %>
    <% if (i % 3) == 0 %> 
      <br class="clearer" />
      <div class="artist_box pl last_box png_fix">
    <% else %>
      <div class="artist_box pl png_fix">
    <% end %>
    
    <%= link_to(avatar_for(p, :medium)) %>
    <div class="overlay">
      <div class="hidden fh">
          <b>
            <%= link_to(p.name, playlist_path(p)) %>
          </b>
          <br />
          Tags: <%= playlist_tags(p) %>
          <br/><br/><br/>

          <div class="align_right">
            <a href="#" title = "Subscribe"><img src="images/listen_button.png" class="png_fix" alt="" /></a>
            <a href="#" title="Copy"><img src="images/duplicate_button.png" class="png_fix" alt="" /></a>
            <%= link_to(image_tag('play_button.png', :class => 'play_button png_fix'), playlists_path(:station_id => p.id))%>
          </div>
        </div>

        <div class="visible fh">
          <%= link_to(image_tag('play_button.png', :class => 'play_button png_fix'), playlists_path(:station_id => p.id))%>
          <br />
          <a href="#"><%= p.name %></a><br/>
        </div>
      </div><!--/end overlay -->
    </div><!--/end artist_box -->
  <% end %>

  <br class="clearer" />
  <br/><br/>
<% end %>