<div class="box_content">
  <h2><%= possessive :top_playlists %></h2>
  <% if profile_account.playlists.size > 0 %>
    <ul class="top_mixes_list">
      <% profile_account.playlists.top(3).each do |p| %>
        <li>
          <%= link_to avatar_for(p, :small), radio_path(:station_id => p.station.id) %>
          <div class="top_mix_text">
            <big>
              <%= link_to p.name, radio_path(:station_id => p.station.id) %>
            </big>
            <br/>
            <%= station_contains(p) %>
          </div>
          <div class="clearer"></div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <div class="medium_text">
      <%= possessive :has_not_playlists %>
    </div>
  <% end %>
  <% if profile_account.total_playlists > 3 %>
    <div class="align_right">
      <% if on_dashboard? %>
      <b class="right_side"><%= link_to t('actions.view_more'), my_playlists_path %></b>
      <% else %>
      <b class="right_side"><%= link_to t('actions.view_more'), user_playlists_path %></b>
      <% end %>
    </div>
    <br />
  <% end %>
</div>
