<div class="top_follow w_spacer">
    <span class="grey_bg">
        <a><span class="white"><%= number_with_delimiter(profile_account.total_playlists) %></span> Playlists</a>
        <a><span class="white"><%= number_with_delimiter(0) %></span> Badges</a>                
        <a><span class="white"><%= number_with_delimiter(profile_account.follower_count) %></span> Followers</a>
        <a><span class="white"><%= number_with_delimiter(profile_account.followee_count) %></span> Following</a>
    </span>
    
    <%= follow_button(:account => profile_account, :full_width => true) unless profile_owner? %>
    <%= red_button(t('actions.create_a_playlist'), :href => playlist_create_path) if profile_owner? %>
</div><!--/end top_follow -->
