<div class="top_follow w_spacer">
    <span class="grey_bg">
        <a href="#"><span class="white"><%= number_with_delimiter(profile_account.total_playlists) %></span> Playlists</a>
        <a href="#"><span class="white"><%= 
          "TBD" #number_with_delimiter(profile_account.visit_count) 
        %></span> Badges</a>                
        <a href="#"><span class="white"><%= number_with_delimiter(profile_account.follower_count) %></span> Followers</a>
        <a href="#"><span class="white"><%= number_with_delimiter(profile_account.followee_count) %></span> Following</a>
    </span>
    
    <%= follow_button(:account => profile_account, :full_width => true) unless profile_owner? %>
</div><!--/end top_follow -->
