<div class="top_follow w_spacer">
    <span class="grey_bg">
        <a><span class="white"><%= number_with_delimiter(profile_account.total_playlists) %></span> <%= t('basics.playlists').titleize %></a>
        <a><span class="white"><%= number_with_delimiter(profile_account.total_badges) %></span> <%= t('basics.badges').titleize %></a>                
        <a><span class="white"><%= number_with_delimiter(profile_account.follower_count) %></span> <%= t('basics.followers').titleize %></a>
        <a><span class="white"><%= number_with_delimiter(profile_account.followee_count) %></span> <%= t('basics.following').titleize %></a>
    </span>
    
    <%= follow_button(:account => profile_account) unless profile_owner? %>
    <%= red_button(t('actions.create_a_playlist'), :href => playlist_create_path) if profile_owner? %>
</div><!--/end top_follow -->
