<span></span>

<% javascript_tag :defer => 'defer' do -%>
  $(document).ready(function(){
    <% if !@user.errors.empty? %>
      field_with_errors     = <%= @user.errors.to_json %>;
      Base.account_settings.highlight_field_with_errors();
    <% end %>
    $('#user_avatar').focus(Base.account_settings.update_avatar_upload_info);
    $('#user_avatar').change(Base.account_settings.update_avatar_upload_info);
  });
</script>
<% end -%>

<%= stylesheet_link_tag 'coke' %>

<div id="flash_messages">
  <%= render_flash_messages %>
</div>

<div id="container">
  <div id="main_content" class="users ">
    
      <!-- integracion -->
      <h1 class="tit_bloque_old gris">
        <span class="txt"><%= t('account_settings.title') %></span>
        <span class="bg_fin">&nbsp;</span>
      </h1><!-- .tit_bloque -->  
      <!-- fin integracion -->

    
      <div id="left_column">
        <%= render 'dashboards/my_info' %>
      </div><!--/end left_column -->
    
      <div class="settings_column">
        <%= render 'edit_basic_info' %>
        <%= render 'edit_password_change' %>
        <%= render 'edit_email_notifications' %>
        <%= render 'edit_delete_account' %>
      </div>
      <div class="clearer" />
  </div>
</div>
