<div class="auth_area">

  <div class="auth_title">
    <%= t('registration.customize')%>
  </div>


  <div class="auth_left">
    <% unless session.has_key? :sso_user %>
      <%= render "shared/social/social", { :page => :registration } %>
    <% else %>
      <div id="social">
        <div class="container">
          <span class="title"><%= t('sessions.new.almost_done') %></span><br /><br />
          <b><%= t('sessions.new.create_link_acct', :provider => session[:sso_type].to_s) %></b><br /><br />
          <%= "<b>#{t('sessions.new.already_own')} #{link_to t('sessions.new.sign_in'), login_path(:return_to => my_dashboard_path) }</b>" %>
        </div>
      </div>
    <% end %>
    <div class="form_content">
      <%= render 'registration_form' %>
    </div>
  </div>

  <div class="auth_right">
    <%= render 'registration_sidebox' %>
  </div><!--/end auth_right -->

  <div class="clearer"></div>

</div><!--/end  auth_area -->
