<div id="footer" <%= "class='footer_home'" if controller_name == "sessions" %>>
  <div class="footer_left">
    <% if false %>
    <%= link_to t('footer.about_coke'), about_coke_url, :target => "_blank"  %>
    <%= link_to t('footer.terms_and_conditions'), terms_and_conditions_url, :target => "_blank" %>
    <%= link_to t('footer.privacy_policy'), privacy_policy_url, :target => "_blank" %>
    <%= link_to t('footer.faq'), faq_url, :target => "_blank" %>
    <%= link_to t('footer.feedback'), contact_us_url, :target => "_blank" %>
    <% end %>

    <span class="feedback_button">
      <a target="_blank" href="<%= poll_link %>" class="red_button">
        <span><span><%= t('footer.feedback') %></span></span>
      </a>
      <% unless site_code == "cokebr" %>
        <%= link_to t('footer.terms_and_conditions'), terms_and_conditions_url, :target => "_blank" %>
        <%= link_to t('footer.privacy_policy'), privacy_policy_url, :target => "_blank" %>
        <%#= link_to "Bases del concurso", contest_url, :target => '_blank' if site_code == "cokear" and Date.today < '2010-10-25'.to_date
 %> 
      <% end %>
    </span>

    <%#= link_to t('footer.about_coke'), "#" %>
    <%#= link_to t('footer.terms_and_conditions'), "#" %>
    <%#= link_to t('footer.privacy_policy'), "#" %>
    <%#= link_to t('footer.faq'), "#" %>
    <%#= link_to t('footer.feedback'), "#" %>

  </div>
  <div class="footer_right">
    <%= link_to(image_tag('cyloop.gif', :class => 'cyloop_logo'), '#') %>
  </div>
  <br class="clearer" />
</div>
<%= render :partial => "shared/google_analytics" %>
