<li>
  <span class="badge_box"><%= link_to image_tag(latest_badge_item.image), user_badge_path(latest_badge_item.winner, latest_badge_item) %></span>
  <span class="item_image">
    <%= link_to avatar_for(latest_badge_item.winner, :small), latest_badge_item.winner %>
  </span>
  <div class="item_text badge_item">
    <big><b><%= t("badges.#{latest_badge_item.badge_key}.name") %></b></big><br/>
    <b><%= link_to latest_badge_item.winner.name, latest_badge_item.winner, :class => 'red' %></b><br/>
    <small><%= latest_badge_item.winner.country.name if latest_badge_item.winner.country %></small>
  </div>
  <br class="clearer" /> 
</li>
