%meta{"http-equiv" => 'Content-Type', :content => 'text/html;charset=utf-8'}
%meta{"http-equiv" => 'Content-Script-Type', :content => 'text/javascript'}
%title= h(@title || t("meta.title"))
= yield :fbmeta
= yield :player_page_meta
= yield :search_meta
= yield :search_with_parameter
= yield :home_meta
= yield :playlists_meta
= yield :login_meta
= yield :registration_meta
= yield :badges_dj_meta
= yield :index_music_meta
= yield :index_artists_meta
%meta{'name' => 'keywords', :content => t("meta.keywords") }
%meta{'name' => 'description', :content => t("meta.description") }
%meta{'name' => 'robots', :content => "ALL"}
%meta{'name' => 'site', :content => current_site.id}
%meta{'name' => 'created', :content => Time.now }
%link{:rel=>"shortcut icon", :href=>"#{current_site_url}/favicon.ico"}
- if site_code == "cokebr"
  %link{:rel=>"canonical", :href=>"http://br.coca-cola.fm#{request.path}"}
- else
  %link{:rel=>"canonical", :href=>"http://la.coca-cola.fm#{request.path}"}

- if protect_against_forgery?
  %meta{:name => 'authenticity_token', :content => form_authenticity_token}
