= link_to t('actions.close'), "#", :class => "close"
.stats
  %ul
    %li.search
      %span= t("registration.layers.search")

    %li.win
      %span= t("registration.layers.win")

    %li.follow
      %span= t("registration.layers.follow")

    %li.create
      %span= t("registration.layers.create")

    %li.share
      %span= t("registration.layers.share")

