<div class="black_banner">
  <div class="banner_flash_box">

    <% if @drupal_feed %>
      <div id="slider">
        <% @drupal_feed.each_with_index do |item, index| %>
          <%= link_to image_tag(item.image("616x250", site_code), {:title => "#htmlcaption#{index}"}), item.link, {:target => "#{item.link_action == 'New' ? '_blank' : '_self'}"} %>
        <% end %>
      </div>

      <% @drupal_feed.each_with_index do |item, index| %>
        <div id="htmlcaption<%= index %>" class="nivo-html-caption">
          <span class="title"><%= item.artist %></span><br />
          <%= item.text %>
        </div>
      <% end %>
    <% else %>
      <script type="text/javascript" charset="utf-8">
        var flashvars = "MARKET=<%= current_site.code %>&TITLE=<%= t('modules.todays_top_artists.title') %>";
        AC_FL_RunContent(
          "src", "/flash/top_artist",
          "wmode", "opaque",
          "width", "616",
          "height", "251",
          "align", "middle",
          "id", "top_artist",
          "quality", "high",
          "bgcolor", "#000000",
          "name", "top_artist",
          "allowScriptAccess", "sameDomain",
          "type", "application/x-shockwave-flash",
          "pluginspage", "http://www.adobe.com/go/getflashplayer",
          "flashVars", flashvars
        );
      </script>
    <% end %>

  </div>
    
  <div class="open_happiness_box">
    <%= banner_ad("square_banner") %>
    <!-- img src="/images/bucket-Coca-Fm.jpg" alt="Coca-Cola.fm" / --> 
  </div>
    
  <div class="clearer"></div>
</div><!--/end black_banner -->
