<% content_for :head do %>
  <%= render :partial => 'shared/logged_in_callback' %>
<% end %>

<% content_for :header_space_content do %>
  <%= render :partial => 'shared/create_playlist' %>
  <div class="clearer"></div>
  <%= render :partial => 'black_banner' if is_index? %>
<% end %>

<%= render :partial => 'shared/tag_cloud' %>
<%= render :partial => 'today_top_playlists' %>
<%= render :partial => 'today_top_djs' %>
<%= render :partial => 'latest_badges' %>
<div class="clearer"></div>
