<% content_for :head do %>
  <%= javascript_include_tag 'AC_OETags', 'nivoslider.pack2_.4/jquery.nivo.slider.pack' %>
  <%= stylesheet_link_tag 'nivoslider.pack2_.4/nivo-slider' %>
  <% # The Coke homepage isn't cached, so don't overwrite the login partial with JS. %>
  <!-- %= render :partial => 'shared/logged_in_callback' % -->
<% end %>

<%= render :partial => 'black_banner' %>

<div class="bloque">
  <div class="cont_columna izq">
    <% cache("#{site_cache_key}/modules/tag_cloud", :expires_in => EXPIRATION_TIMES["home_tag_cloud"]) do %>
      <%= render :partial => "shared/tag_cloud", :locals => { :tags => current_site.tag_counts_from_playlists } %>
    <% end %>
  </div><!-- .cont_columna izq -->
  
  <div class="cont_columna cen">
    <%= render :partial => 'shared/today_top_playlists' %>
  </div><!-- .cont_columna cen -->
  
  <div class="cont_columna der">
    <%= render :partial => 'shared/today_top_djs' %>
  </div><!-- .cont_columna der -->
</div><!-- .bloque -->

