<% content_for :head do %>
  <%= javascript_include_tag 'AC_OETags', 'nivoslider.pack2_.2/jquery.nivo.slider.pack' %>
  <%= stylesheet_link_tag 'nivoslider.pack2_.2/nivo-slider' %>
  <%= render :partial => 'shared/logged_in_callback' %>
  <% content_for :home_meta do %>
		<meta content='<%= t('meta.title.home')%>' name='title'/>
		<meta content='<%= t('meta.keywords.home')%>' name='keywords'/>
		<meta content='<%= t('meta.description.home')%>' name='description'/>
	<% end %>
<% end %>

<% content_for :header_space_content do %>
  <%= render :partial => 'shared/create_playlist' %>
  <div class="clearer"></div>
  <%= render :partial => 'black_banner' %>
  <% if current_site.code == "cokemx" %>
      <div id="goomRadio">
        <script type="text/javascript">
          goomDefaultRadio='4242705';
          goomPartnerId='COCA-COLA-MX';
          goomAutoPlay='1';
          goomPopUpMode='1';
          goomAutoPopup='0';
          goomCustomUI='coca-cola-mexico';
          goomOneStreamMode='1';
          goomJsUI='0';
          goomBgColor='0';
          goomWidth='488';
          goomHeight='77';
          goomFbUrl='http%3A//mx.coca-cola.fm';
          goomFbX='400';
          goomFbY='39';
        </script>
        <script type="text/javascript" src="http://sunbear.goomradio.com/include.js"></script>
      </div>
    <% end %>
<% end %>

<% cache("#{site_cache_key}/modules/tag_cloud", :expires_in => EXPIRATION_TIMES["home_tag_cloud"]) do %>
  <%= render :partial => "shared/tag_cloud", :locals => { :tags => current_site.tag_counts_from_playlists } %>
<% end %>
<%= render :partial => 'shared/today_top_djs' %>
<%= render :partial => 'shared/today_top_playlists' %>
<%= render :partial => 'shared/latest_badges' %>
<div class="clearer"></div>
