<% content_for :head do %>
  <%= javascript_include_tag 'AC_OETags', 'nivoslider.pack2_.2/jquery.nivo.slider.pack' %>
  <%= stylesheet_link_tag 'nivoslider.pack2_.2/nivo-slider' %>
  <%= render :partial => 'shared/logged_in_callback' %>
<% end %>

<% content_for :header_space_content do %>
  <%= render :partial => 'shared/create_playlist' %>
  <div class="clearer"></div>
  <%= render :partial => 'black_banner' %>
<% end %>

<% cache("#{site_cache_key}/modules/tag_cloud", :expires_in => EXPIRATION_TIMES["home_tag_cloud"]) do %>
  <%= render :partial => "shared/tag_cloud", :locals => { :tags => current_site.tag_counts_from_playlists } %>
<% end %>
<%= render :partial => 'shared/today_top_djs' %>
<%= render :partial => 'shared/today_top_playlists' %>
<%= render :partial => 'shared/latest_badges' %>
<div class="clearer"></div>
