<div class="contenido">
  <div class="bloque">
    <div class="cont_columna doble">

      <div class="mod_topmixes">
        <h2 class="tit_bloque">
          <span class="txt">Top Mixes<em>Los más escuchados</em></span>
          <span class="bg_fin">&nbsp;</span>
        </h2>

        <% @top_mixes.each_with_index do |mix, idx| %> 
          <div class="clasif_mixes">
            <span class="num_mixes"><%= idx + 1 %></span>
            <div class="artist_box png_fix">
              <a href="#" title="<%= mix.name %>"><%= avatar_for mix, :large %></a>
              <div class="overlay">
                <div class="hidden fh" style="display:none;">
                  <a href="#" title=""><strong><%= mix.name %></strong></a>
                  <%= multitask_rating mix %>
                  <div class="tag_links">
                    <%= tag_links mix %>
                  </div>
                  <div class="align_right box_buttons">

                    <a href="#" title="Reproducir"><img src="images/play_button.png" class="png_fix" alt="Play_button" /></a>
                  </div>
                </div><!-- .hidden -->
                <div class="visible fh" style="display:block;">
                  <a href="#" title=""><img alt="" class="play_button png_fix" src="images/play_button.png"  /></a>
                  <a href="#" title=""><%= mix.name %></a>
                  <%= multitask_rating mix %>
                </div><!-- .visible -->
              </div><!-- .overlay -->
            </div><!-- .artist_box -->
          </div><!-- .clasif_mixes -->
      <% end %>

      </div><!-- .mod_topmixes -->

      <div class="mod_topartistas">
        <h2 class="tit_bloque">
          <span class="txt">Top Artistas<em>Los más escuchados</em></span>
          <span class="bg_fin">&nbsp;</span>
          <ul class="lista_tops">
            <li class="estirar">
            <span class="ord">1</span>
            <img alt="portada CD" src="imgs/mixes/sim_portada1.jpg" class="avatar" />
            <div class="datos">
              <h3><a href="#" title="" class="link_rojo">M&uacute;sica para despertar&hellip;</a></h3>
            </div>
            </li>
            <li class="estirar">
            <span class="ord">2</span>
            <img alt="portada CD" src="imgs/mixes/sim_portada2.jpg" class="avatar" />
            <div class="datos">
              <h3><a href="#" title="" class="link_rojo">De todo un poco</a></h3>
            </div>
            </li>
            <li class="estirar">
            <span class="ord">3</span>
            <img alt="portada CD" src="imgs/mixes/sim_portada3.jpg" class="avatar" />
            <div class="datos">
              <h3><a href="#" title="" class="link_rojo">La oreja de Van Gogh</a></h3>
            </div>
            </li>
            <li class="estirar">
            <span class="ord">4</span>
            <img alt="portada CD" src="imgs/mixes/sim_portada4.jpg" class="avatar" />
            <div class="datos">
              <h3><a href="#" title="" class="link_rojo">M&uacute;sica para despertar&hellip;</a></h3>
            </div>
            </li>
            <li class="estirar">
            <span class="ord">5</span>
            <img alt="portada CD" src="imgs/mixes/sim_portada1.jpg" class="avatar" />
            <div class="datos">
              <h3><a href="#" title="" class="link_rojo">M&uacute;sica para despertar&hellip;</a></h3>
            </div>
            </li>
          </ul>
        </div><!-- .mod_topartistas -->

        <div class="mod_topdjs">
          <h2 class="tit_bloque">
            <span class="txt">Top DJS<em>Los más populares</em></span>
            <span class="bg_fin">&nbsp;</span>
          </h2>
          <ul class="lista_tops">
            <li class="estirar">
            <span class="ord">1</span>
            <img alt="foto del autor" src="imgs/djs/sim_autor1.jpg" class="avatar" />
            <div class="datos">
              <h3><a href="#" title="" class="link_rojo">DJ Claudia</a></h3>
              <p>(Spain)</p>
            </div>
            </li>
            <li class="estirar">
            <span class="ord">2</span>
            <img alt="foto del autor" src="imgs/djs/sim_autor2.jpg" class="avatar" />
            <div class="datos">
              <h3><a href="#" title="" class="link_rojo">Loquita 31</a></h3>
              <p>(Spain)</p>
            </div>
            </li>
            <li class="estirar">
            <span class="ord">3</span>
            <img alt="foto del autor" src="imgs/djs/sim_autor3.jpg" class="avatar" />
            <div class="datos">
              <h3><a href="#" title="" class="link_rojo">M. Marga L&oacute;pez Alegr&hellip;</a></h3>
              <p>(Spain)</p>
            </div>
            </li>
            <li class="estirar">
            <span class="ord">4</span>
            <img alt="foto del autor" src="imgs/djs/sim_autor4.jpg" class="avatar" />
            <div class="datos">
              <h3><a href="#" title="" class="link_rojo">DJ Claudia</a></h3>
              <p>(Spain)</p>
            </div>
            </li>
            <li class="estirar">
            <span class="ord">5</span>
            <img alt="foto del autor" src="imgs/djs/sim_autor1.jpg" class="avatar" />
            <div class="datos">
              <h3><a href="#" title="" class="link_rojo">DJ Claudia</a></h3>
              <p>(Spain)</p>
            </div>
            </li>
          </ul>
        </div><!-- .mod_topdjs -->

      </div><!-- .cont_columna doble -->
      <div class="cont_columna der">
        <div class="open_happiness_box">
          <%= banner_ad("square_banner") %>
        </div><!-- .open_happiness_box -->
        <div class="mod_emociones">
          <div class="mod_tags">
            <% cache("#{site_cache_key}/modules/tag_cloud", :expires_in => EXPIRATION_TIMES["home_tag_cloud"]) do %>
              <%= render :partial => "shared/tag_cloud", :locals => { :tags => current_site.tag_counts_from_playlists } %>
            <% end %>
          </div><!-- .mod_tags -->
      </div><!-- .mod_emociones -->
    </div><!-- .cont_columna der -->
  </div><!-- /bloque -->
</div><!-- .contenido -->
