<html><style type="text/css"></style>
<body style="margin-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px;">
<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
  <tr>
    <td><br>
        <br>
      <table width="560" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
      <tr>
        <td><a href="http://<%= @global_url %>" target="_blank"><img src="http://<%=@global_url%>/images/email/top.gif" width="560" height="62" border="0"></a></td>
      </tr>
    </table>
      <table width="520" border="0" align="center" cellpadding="0" cellspacing="20" bgcolor="#FFFFFF">
        <tr>
          <td align="center"><font face="Arial, Helvetica, sans-serif" color="#FFFFFF" size="2">|</font><br>
<font face="Arial, Helvetica, sans-serif" color="#000000" size="+2"><b><%= t("registration.email.title") %></b></font><br>
          <font face="Arial, Helvetica, sans-serif" color="#666666" size="3"><%= t("registration.email.subtitle") %></font></td>
        </tr>
        
        <tr>
          <td><table width="490" border="0" cellspacing="15" cellpadding="0">
          <% ['loop', 'badges', 'friends', 'create', 'work'].each_with_index do |item, i| %>
            <tr>
              <td width="72" align="center">
                <a href="http://<%= @global_url %>" target="_blank">
                  <img src="http://<%=@global_url%>/images/email/icon_<%= (i+1) %>.gif" alt="<%= t("registration.sidebox.#{item}_title") %>" border="0">
                </a>
              </td>
              <td>
                  <strong><font face="Arial, Helvetica, sans-serif" color="#000000" size="+1"><%= t("registration.sidebox.#{item}_title") %></font></strong><br />
                <font face="Arial, Helvetica, sans-serif" color="#666666" size="2"><%= t("registration.sidebox.#{item}_text") %></font></td>
              </tr>            
          <% end %>            
          </table></td>
        </tr>
        <tr>
          <td align="right"><a href="http://<%= @global_url %>" style="text-decoration: none; font-family: 'Helvetica', sans-serif; text-align: center; font-size: 17px; color: red; border: 0; line-height: 38px; padding: 5px 10px; cursor: pointer;" target="_blank"><%= t("registration.email.button") %></a></td>
        </tr>
        <tr>
          <td><img src="http://<%=@global_url%>/images/email/line.gif" width="520" height="1"></td>
        </tr>
        <tr>
          <td align="right"><img src="http://<%=@global_url%>/images/email/cyloop_logo.gif"></td>
        </tr>
      </table>
      <table width="560" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
        <tr>
          <td><img src="http://<%=@global_url%>/images/email/bottom.gif" width="560" height="9"></td>
        </tr>
      </table>
      <table width="560" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
        <tr>
          <td align="center"><br>
      <font face="Arial, Helvetica, sans-serif" color="#666666" size="1">
        <%= t('registration.email.terms_and_legal_text') %>        
        </font></td>
        </tr>
      </table>
      <br>
    <br>
    <br></td>
  </tr>
</table>
</body>
</html>