.listado_busquedas
  = avatar_for list_artist, :large
  = link_to_function list_artist.name, "Base.Console.get_song_list('#{list_artist.id}','#{list_artist.class.to_s.downcase}', null, null, null, #{list_artist.id})"
  %p= list_artist.genre
