.listado_busquedas
  = link_to_function avatar_for(list_artist, :large), "Base.Console.get_song_list('#{list_artist.id}','#{list_artist.class.to_s.downcase}', null, null, null, #{list_artist.id})"
  = link_to_function list_artist.name, "Base.Console.get_song_list('#{list_artist.id}','#{list_artist.class.to_s.downcase}', null, null, null, #{list_artist.id})"
  %p= list_artist.genre
