<div class="sorting">
  <%= sort_link_to :relevance, :id => 'playlists_sort_relevance' %> / 
  <%= sort_link_to :top, :id => 'playlists_sort_top' %> /
  <%= sort_link_to :highest_rated, :id => 'playlists_sort_highest_rated' %> /  
  <%= sort_link_to :alphabetical, :id => 'playlists_sort_alphabetical' %> / 
  <%= sort_link_to :latest, :id => 'playlists_sort_latest' %>
</div>


