<script type="text/javascript">
  $(document).ready(function(){
    //Base.main_search.init_pagination();
  });
</script>
<ul class="susbcriptions_list">
  <% @results[:playlists].each do |playlist| %>
    <% if playlist.station %>
      <% is_self = (current_user and current_user == playlist.owner) %>
        <div class="albums_item reviews_list">
          <div class="artist_box png_fix">
            <a href="#" title=""><%= avatar_for playlist, :large %></a>
            <div class="overlay">
              <div class="hidden fh">
                <a href="#" title=""><strong><%= playlist.name %></strong></a>
                <%= multitask_rating playlist %>
                <div class="tag_links">
                  <%= tag_links playlist %>
                </div>
                <div class="align_right box_buttons">
                  <a href="#" onclick="Base.Station.request('/playlists/<%= playlist.id %>.xml', 'xml', Base.Station.stationCollection);Base.Player.random(false);" title="Reproducir"><img src="/images/play_button.png" class="png_fix" alt="Play_button" /></a>
                </div>
              </div><!-- .hidden -->
              <div class="visible fh">
                <a href="#" onclick="Base.Station.request('/playlists/<%= playlist.id %>.xml', 'xml', Base.Station.stationCollection);Base.Player.random(false);" title=""><img alt="" class="play_button png_fix" src="/images/play_button.png"  /></a>
                <a href="#" title=""><%= playlist.name %></a>
                <%= multitask_rating playlist %>
              </div><!-- .visible -->
            </div><!-- .overlay -->
          </div><!-- .artist_box -->
          <div class="reviews">
            <div class="title">
              <h3><%= playlist.name %></h3>
              <span class="grey"><%= playlist.updated_at %></span>
              <% if playlist.songs_count > 0 %>
                <%= station_contains(playlist) %>
              <% end %>
              <% unless playlist.cached_tag_list.blank? %>
                <%= tag_links(playlist, @active_scope) %>
              <% end %>
            </div><!-- .title -->
            <%= multitask_rating playlist %>
            <div class="review_item">
              <a href="/mark33"><%= avatar_for playlist.owner, :small %></a>
              <div class="review_creator_large">
                <strong>Creada por: <a href="#" title=""><%= playlist.owner.name %></a></strong>
                <%= render :partial => 'shared/user_following', :locals => {:current_user => current_user, :user => playlist.owner} if current_user != playlist.owner %>
              </div>
            </div><!-- .review_item -->
          </div><!-- .reviews -->
        </div><!-- .albums_item -->
    <% end %>
  <% end %>
</ul><!--/end followers_list -->

<%= will_paginate @results[:playlists], pagination_args %>
