<ul class="followers_list">
  <% @results[:users].each do |user| %>
    <li class="follow_user">
    <%= link_to avatar_for(user, :small, :class => 'follower_image'), '#' %>
    <div class="follower_text">
      <%= link_to user.name, user_path(user) %>
      <span>(<%= user.country.name %>)</span>
    </div>
    <ul class="follower_data">
      <li><a href="#" title="Mixes"><%= number_with_delimiter(user.total_playlists) %></a> <%= t('basics.playlists') %></li>
      <li><a href="#" title="Badges"><%= number_with_delimiter(user.total_badges) %></a> <%= t('basics.badges') %></li>
      <li><a href="#" title="Seguidores"><%= number_with_delimiter(user.follower_count) %></a> <%= t('users.stats.followers')  %></li>
    </ul>
    <%= follow_button(:account => user, :remove_div => false) %>
    <!--a class="btn_rojo btn_rojo_grande" href="#" title="SEGUIR">SEGUIR<span class="bg_fin">&nbsp;</span></a-->
    </li><!-- .follow_user -->

  <% end %>
</ul>

<%= will_paginate @results[:users], pagination_args %>
