
<div class="submenu">
	<div class="columna">
		<!--h2>RESULTADOS DE LA B&Uacute;SQUEDA</h2-->
		<h2><%= "#{t('search.search_results_for')} \"#{@query.nil? ? '' : @query}\"" %></h2>
		<form class="ord_mixes" action="#" >
			<select>
				<option>Ordenar por popularidad</option>
				<option>-</option>
			</select>
		</form>
	</div>
</div><!-- .submenu -->
<div class="contenido">
	<div class="columna_busq">
		<h3 class="busq_titulo">Mixes</h3>
		<p class="busq_resultados"><span><%= @counts[:playlists] %></span> resultados</p>
		<ul class="busquedas">
			<% if !@results[:playlists].blank? and @results[:playlists].size > 0 %>
				<% @results[:playlists].each do|playlist| %>
					<li class="estirar">
						<%= link_to avatar_for(playlist, :small), radio_path(:station_id => playlist.station.id),:alt=>"portada del Mix" %>
						<div class="datos">
							<h3><%= link_to playlist.name, radio_path(:station_id => playlist.station.id) ,:class => "link_rojo" %></h3>
						</div>
						<div class="messenger_rating"><%= rating(playlist) %></div>

					</li>
				<% end %>
			<% else %>
				<li class="no_resultados">
					Tu busqueda no ha producido resultados.
				</li>
			<% end %>
		</ul>
	</div><!-- .columna_busq -->
	<div class="columna_busq">
		<h3 class="busq_titulo">Usuarios</h3>
		<p class="busq_resultados"><span><%= @counts[:users]%></span> resultados</p>
		<ul class="busquedas">
			<% if !@results[:users].blank? and @results[:users].size > 0 %>
				<% @results[:users].each do|user|%>
					<li class="estirar">
						<%= avatar_for(user, :small, :class => 'avatar',:alt=>user.name) %>
						<div class="datos">
							<h3><%= link_to user.name, user, :class => "link_rojo" %></h3>
							<p><%= user.country.name %></p>
						</div>
						<div class="num_mixes"><strong><%= number_with_delimiter(user.total_playlists) %></strong> mixes</div>
					</li>
				<% end %>
			<% else %>
				<li class="no_resultados">
					Tu busqueda no ha producido resultados.
				</li>
			<% end%>
		</ul>
	</div><!-- .columna_busq -->
</div><!-- .contenido -->





