<div class="contenido">
  <div class="bloque">

    <% form_tag '/search', :method => :get, :class => 'buscador_big', :onsubmit => 'Base.Search.query(this); return false;' do %>
      <%= label_tag 'lupa', 'lupa', :class => 'lupa_buscar' %>
      <%= hidden_field_tag 'scope', params[:scope] %>
      <%= hidden_field_tag 'result_only', '1' %>
      <%= text_field_tag 'q', params[:q], :class => 'text_buscar' %>
      <%= tag 'input', :type => 'button', :value => 'USUARIOS', :scope => 'users', :class => "btn_buscar btn_bususuarios #{"activo" if params[:scope] == 'users'}", :onclick => 'Base.Search.toggleScope(this, event);' %>
      <%= tag 'input', :type => 'button', :value => 'MIXES', :scope => 'playlists', :class => "btn_buscar btn_busmixes #{"activo" if params[:scope] == 'playlists'}", :onclick => 'Base.Search.toggleScope(this);' %>
    <% end %>

    <div class="cont_columna doble">

      <div class="mod_mixes">
        <h2 class="tit_bloque">
          <span class="txt">Mixes<em><%= "#{params[:scope] == 'playlists' ? @results[:playlists].count : @results[:users].count} #{t('basics.results')}" %> </em></span>
          <span class="bg_fin">&nbsp;</span>
        </h2><!-- .tit_bloque -->

        <% form_tag "/search/#{params[:scope]}/#{params[:q]}", :method => :get, :class => 'f_ordenar' do %>
          <%= hidden_field_tag 'result_only', '1' %>
          <%
            options = [
              [t('sort.relevance'), 'relevance'],
              [t('sort.top'), 'top'],
              [t('sort.highest_rated'), 'highest_rated'],
              [t('sort.alphabetical'), 'alphabetical'],
              [t('sort.latest'), 'latest']
            ]
          %>
          <%= select_tag 'sort_by', options_for_select(options, params[:sort_by].to_s), :onchange => 'Base.Search.query(this.form);' %>
        <% end %>

        <% @search_types.each do |type| %>
          <%= render type.to_s unless @results[type].empty? %>
        <% end %>

        </div><!-- .mod_seguidores -->

      </div><!-- .cont_columna doble -->

      <div class="cont_columna der">
        <div class="open_happiness_box">
          <%= banner_ad("square_banner") %>
        </div><!-- .open_happiness_box -->      
        <div class="mod_emociones">
          <div class="mod_tags">
            <% cache("#{site_cache_key}/modules/tag_cloud", :expires_in => EXPIRATION_TIMES["home_tag_cloud"]) do %>
              <%= render :partial => "shared/tag_cloud", :locals => { :tags => current_site.tag_counts_from_playlists } %>
            <% end %>
          </div><!-- .mod_tags -->
        </div><!-- .mod_emociones -->
      </div><!-- .cont_columna der -->
    </div><!-- /bloque -->
  </div><!-- .contenido -->
