<div class="contenido">
  <div class="bloque">

    <form class="buscador_big">
      <label class="lupa_buscar">Lupa</label>
      <input type="text" class="text_buscar" value="Amaral" /><!-- value de ejemplo -->
      <input type="submit" value="USUARIOS" class="btn_buscar btn_bususuarios" />
      <input type="submit" value="MIXES" class="btn_buscar btn_busmixes activo" />
    </form>

    <div class="cont_columna doble">

      <div class="mod_mixes">
        <h2 class="tit_bloque">
          <span class="txt">Mixes<em>20 resultados</em></span>
          <span class="bg_fin">&nbsp;</span>
        </h2><!-- .tit_bloque -->

        <% form_tag "/search/#{params[:scope]}/#{params[:q]}", :method => :get, :class => 'f_ordenar' do %>
          <%= hidden_field_tag 'result_only', '1' %>
          <%
            options = [
              [t('sort.relevance'), 'relevance'],
              [t('sort.top'), 'top'],
              [t('sort.highest_rated'), 'highest_rated'],
              [t('sort.alphabetical'), 'alphabetical'],
              [t('sort.latest'), 'latest']
            ]
          %>
          <%= select_tag 'sort_by', options_for_select(options), :onchange => 'Base.Search.query(this.form);' %>
        <% end %>

        <% @search_types.each do |type| %>
          <%= render type.to_s unless @results[type].empty? %>
        <% end %>

        </div><!-- .mod_seguidores -->

      </div><!-- .cont_columna doble -->

      <div class="cont_columna der">
        <div class="open_happiness_box">
          <%= banner_ad("square_banner") %>
        </div><!-- .open_happiness_box -->      
        <div class="mod_emociones">
          <div class="mod_tags">
            <% cache("#{site_cache_key}/modules/tag_cloud", :expires_in => EXPIRATION_TIMES["home_tag_cloud"]) do %>
              <%= render :partial => "shared/tag_cloud", :locals => { :tags => current_site.tag_counts_from_playlists } %>
            <% end %>
          </div><!-- .mod_tags -->
        </div><!-- .mod_emociones -->
      </div><!-- .cont_columna der -->
    </div><!-- /bloque -->
  </div><!-- .contenido -->
