<% if defined? with_title and with_title %>
  <h1><%= t('home.network_update', :user_name => artist_or_user_name(profile_account)) %></h1>
<% end %>

<div class="sorting uppercase"> 
  <%= filter_link_by(t('activity.user_following', :user => profile_account.slug), :type => :all, :onclick => "Base.network.reload_comments('all');return false;") + "/" unless profile_account.is_a?(Artist) %>
  <%= filter_link_by( profile_account.slug, :type => :me, :onclick => "Base.network.reload_comments('me');return false;" ) %>
  <%= "/" + filter_link_by( t('activity.just_following', :user => profile_account.slug), :type => :following, :onclick => "Base.network.reload_comments('following');return false;" )  unless profile_account.is_a?(Artist) %>
</div><!--/end network_update -->
<ul class="comments_list" id="network_comment_list">
</ul>

<div class="align_right" id="show_more_comments">
<%= render :partial => 'show_more_buttom' %>
</div>
