<% content_for :head do %>
  <script>
    var recommended_playlists_queue = [<%= @queued_playlists.collect(&:id).join(", ") %>];
  </script>
<% end %>

<h1><%= t('home.recommended_playlists') %></h1>

<% profile_account.playlists.latest.each_with_index do |p, i| %>
  <%= render :partial => 'playlists/widget_item', :locals => {:p => p, :last_box => (i+1 % 3) == 0} %>
<% end %>
<% if profile_account.playlists.latest.size < 3 %>
  <% (3 - profile_account.playlists.latest.size).times do |i| %>
    <div class="artist_box pl <%= "last_box" if ((i + 1 + profile_account.playlists.latest.size) % 3 == 0) %> png_fix">
      <%= image_tag "empty_img.gif" %>
    </div>
  <% end %>
<% end %>
    
