<% content_for :header_space_content do %>
  <%= render 'users/stats' %>
<% end %>

<%= render :partial => 'badges/notifications' if profile_owner? and !@notifications.empty? %>
<%= render 'shared/ajax_modules' %>

<%= render 'left_column'   %>
<%= render 'center_column' %>
<%= render 'right_column'  %>
</div>
<div class="clearer" />
