<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId  : <%= FacebookConnect::APP_ID %>,
      status : true,
      cookie : true,
      xfbml  : true
    });

    // A user is already logged in to facebook, user is logged in
    FB.getLoginStatus(function(response) {
      if (response.session) {
        $('#fb_login a').click(function() {
          document.location = current_url_site + '/login?' + document.location.search
            + '&access_token=' + escape(response.session.access_token) + '&expires=' + escape(response.session.expires) + '&page=<%= page if defined? page %>';
        });
        return false;
      }
    });

    FB.Event.subscribe('auth.sessionChange', function(response) {
      if (response.session && <%= (controller_name == 'sessions' && action_name == 'new')  %>) {
        // A user has logged in, and a new cookie has been saved
        document.location = current_url_site + '/login?' + document.location.search
          + '&access_token=' + escape(response.session.access_token) + '&expires=' + escape(response.session.expires) + '&page=<%= page if defined? page %>';
      } else {
        // console.log("User has logged out.");
        // console.dir(response);
        // The user has logged out, and the cookie has been cleared
      }
    });

  };

  (function() {
    var e = document.createElement('script');
    e.src = document.location.protocol + '//connect.facebook.net/<%= current_site.fb_locale %>/all.js';
    e.async = true;
    document.getElementById('fb-root').appendChild(e);
  }());
</script>
<!-- /fb sdk auth and meta info -->
