<%= render "/shared/social/fbconnect", { :page => page } %>
<%= render "/shared/social/winconnect", { :page => page } %>
<div id="social">
  <div class="container">
    <span class="title"><%= t('sessions.new.social') %></span>
    <br /><br class="clearer"/>
    <div>
      <fb:login-button id="fb_login" perms="user_birthday, email"></fb:login-button>
    </div>
    <div>
      <wl:signin id="signInControl"
        signedintext="You are logged in"
        signedouttext="You are logged out"
        onsignin="onWinConnectLogin"></wl:signin>
    </div>
  </div>
</div>

<% javascript_tag do %>
function onWinConnectLogin() {
  alert('win connect login');
}
<% end %>

<% # signedintext="<%= t('win_connect.login.in') % >" %>
<% # signedouttext="<%= t('win_connect.login.out') % >" %>
