<div class="artist_box png_fix">
  <%= link_to avatar_for(p, :large), radio_path(:station_id => p.station.id), :content_switch_enabled => true %>

  <div class="overlay">
    <div class="hidden fh">
      <a href="<%= radio_path(:station_id => p.station.id) %>" title=""><strong><%= truncate(p.name,:length=>10,:omission=>"...") %></strong></a>
      <%= multitask_rating(p, 5) %>

      <div class="tag_links">
        <%= tag_links(p) %>
      </div>
      <div class="align_right box_buttons">
        <%= link_to_function image_tag('play_button.png', :class => 'png_fix'), "Base.Station.request('/playlists/#{p.id}.xml', 'xml', Base.Station.stationCollection);Base.Player.random(false)", :title => t('coke_messenger.play_hover') %>
      </div>
    </div><!-- .hidden -->
    
    <div class="visible fh">
        <%= link_to_function image_tag('play_button.png', :class => 'play_button png_fix'), "Base.Station.request('/playlists/#{p.id}.xml', 'xml', Base.Station.stationCollection);Base.Player.random(false)", :title => t('coke_messenger.play_hover') %>
        <%= link_to truncate(p.name, :length=>15, :omission=> '...'), 
                    radio_path(:station_id => p.station.id),
                    :alt => p.name, :content_switch_enabled => true, :onclick => "Base.Station.request('/playlists/#{p.id}.xml', 'xml', Base.Station.stationCollection);Base.Player.random(false)" %>
        <%= multitask_rating(p, 5) %>
    </div><!-- .visible -->
  </div><!-- .overlay -->
</div><!-- .artist_box -->
