<%= "<br class=\"clearer\" />" if last %>
<div class="artist_box pl png_fix <%= 'last_class' if last %>">
  <%= link_to avatar_for(p, :medium), radio_path(:station_id => p.station.id) %>

  <div class="overlay">

    <div class="hidden fh">
      <b><%= link_to p.name, radio_path(:station_id => p.station.id) %></b><br/>
      <% if false %>
        <span class="rating">
          <img src="images/rating_bottle_full.png" class="png_fix" alt="" />
          <img src="images/rating_bottle_full.png" class="png_fix" alt="" />
          <img src="images/rating_bottle_full.png" class="png_fix" alt="" />
          <img src="images/rating_bottle_full.png" class="png_fix" alt="" />
          <img src="images/rating_bottle_white_full.png" class="png_fix" alt="" />
        </span>
      <% end %>
      <br/><br/>

      <%= tag_links(p) %>
      <br/><br/><br/>

      <div class="align_right">
        <% if false %>
        <a href="#" title = "Subscribe"><img src="images/listen_button.png" class="png_fix" alt="" /></a>
        <a href="#" title="Copy"><img src="images/duplicate_button.png" class="png_fix" alt="" /></a>
        <% end %>
        <%= link_to(image_tag('play_button.png'), radio_path(:station_id => p.id))%>
      </div>
    </div>

        <div class="visible fh">
          <%= link_to(image_tag('play_button.png'), radio_path(:station_id => p.id))%>

            <%= link_to p.name, radio_path(:station_id => p.station.id) %><br/>
            <% if false %>
                <span class="rating">

                    <img src="images/rating_bottle_full.png" class="png_fix" alt="" />
                    <img src="images/rating_bottle_full.png" class="png_fix" alt="" />
                    <img src="images/rating_bottle_full.png" class="png_fix" alt="" />
                    <img src="images/rating_bottle_full.png" class="png_fix" alt="" />
                    <img src="images/rating_bottle_white_full.png" class="png_fix" alt="" />
                </span>
            <% end %>
        </div>
    </div><!--/end overlay -->
</div><!--/end artist_box -->
