<div class="albums_item" id="my_station_item_<%= item.station.id %>">
  <div class="artist_box png_fix">
    <%= link_to avatar_for(item, :large), radio_path(:station_id => item.station.id) %>
    <div class="overlay">
      <div class="hidden fh">
        <b><%= link_to item.name, radio_path(:station_id => item.station.id) %></b><br/>
        <%= rating(item, false, "rating_#{item.id}_top") %>
        <br/><br/>

        <div class="tag_links">
        <%= tag_links(item) %>
        </div>

        <div class="align_right box_buttons">
          <%= link_to image_tag('duplicate_button.png', :class=> "png_fix"), '#', 
            :onclick => "Base.playlists.copy('#{item.owner.slug}', #{item.id}); return false;",:title=> t('actions.copy') %>
          <%= link_to image_tag('edit_button.png', :class=> "png_fix" ,:title=> t('actions.edit')) ,
            edit_playlist_path(item) if item.owner == current_user %>
          <%= link_to image_tag('close_button.png', :class=> "png_fix"), '#',:title=> t('actions.delete'), 
            :onclick => "Base.stations.remove_from_layer(#{item.station.id}); return false;" if on_dashboard? %>
          <%= link_to image_tag('play_button.png', :class=> "png_fix"), radio_path(:station_id => item.station.id) ,:title=> t('actions.play') %>
        </div>
      </div>

      <div class="visible fh">
        <%= link_to image_tag('play_button.png', :class=> "play_button png_fix"), radio_path(:station_id => item.station.id) %>

        <%= link_to truncate(item.name, 15, '...'), 
            radio_path(:station_id => item.station.id),
            :alt => item.name %><br/>

  
        <%= rating(item) %>
      </div>
    </div><!--/end overlay -->

  </div><!--/end artist_box -->

  <%= render :partial => 'reviews/playlist_reviews_box', :locals => { :playlist => item } %>

  <div class="clearer"></div>
</div><!--/end albums_item --> 
