<div class="albums_item" id="my_station_item_<%= item.station.id %>">
  <div class="artist_box png_fix">
    <%= link_to avatar_for(item, :medium), radio_path(:station_id => item.station.id) %>
    <div class="overlay">
      <div class="hidden fh">
        <b><%= link_to item.name, radio_path(:station_id => item.station.id) %></b><br/>
        <%= rating(item, false, "rating_#{item.id}_top") %>
        <br/><br/>

        <div class="tag_links">
        <%= tag_links(item) %>
        </div>

        <div class="align_right box_buttons">
          <% if false %><a href="#"><img src="/images/duplicate_button.png" class="png_fix" alt="" /></a><% end %>
          <%= link_to image_tag('edit_button.png', :class=> "png_fix"), edit_playlist_path(item) if item.owner == current_user %>
          <%= link_to image_tag('close_button.png', :class=> "png_fix"), '#', :onclick => "Base.stations.remove_from_layer(#{item.station.id});" if on_dashboard? %>
          <%= link_to image_tag('play_button.png', :class=> "png_fix"), radio_path(:station_id => item.station.id) %>
        </div>
      </div>

      <div class="visible fh">
        <%= link_to image_tag('play_button.png', :class=> "play_button png_fix"), radio_path(:station_id => item.station.id) %>

        <%= link_to item.name, playlist_path(item) %><br/>
  
        <%= rating(item) %>
      </div>
    </div><!--/end overlay -->

  </div><!--/end artist_box -->

  <%= render :partial => 'reviews/playlist_reviews_box', :locals => { :playlist => item } %>

  <div class="clearer"></div>
</div><!--/end albums_item --> 
