<div class="albums_item">
  <div class="artist_box png_fix">
    <%= link_to avatar_for(item, :medium), radio_path(:station_id => item.station.id) %>
    <div class="overlay">
      <div class="hidden fh">
        <b><%= link_to item.name, playlist_path(item) %></b><br/>
        <% if false %>
        <span class="rating">
          <a href="#"><img src="/images/rating_bottle_full.png" class="png_fix" alt="" /></a>
          <a href="#"><img src="/images/rating_bottle_full.png" class="png_fix" alt="" /></a>

          <a href="#"><img src="/images/rating_bottle_full.png" class="png_fix" alt="" /></a>
          <a href="#"><img src="/images/rating_bottle_full.png" class="png_fix" alt="" /></a>
          <a href="#"><img src="/images/rating_bottle_white_full.png" class="png_fix" alt="" /></a>
        </span>
        <% end %>
        <br/><br/>

        <div class="tag_links">
        <%= tag_links(item) %>
        </div>

        <div class="align_right">
          <% if false %><a href="#"><img src="/images/duplicate_button.png" class="png_fix" alt="" /></a><% end %>
          <%= link_to image_tag('play_button.png', :class=> "png_fix"), radio_path(:station_id => item.station.id) %>
        </div>
      </div>

      <div class="visible fh">
        <%= link_to image_tag('play_button.png', :class=> "play_button png_fix"), radio_path(:station_id => item.station.id) %>

        <%= link_to item.name, playlist_path(item) %><br/>

        <% if false %>
        <span class="rating">
          <img src="/images/rating_bottle_full.png" class="png_fix" alt="" />
          <img src="/images/rating_bottle_full.png" class="png_fix" alt="" />
          <img src="/images/rating_bottle_full.png" class="png_fix" alt="" />
          <img src="/images/rating_bottle_full.png" class="png_fix" alt="" />
          <img src="/images/rating_bottle_white_full.png" class="png_fix" alt="" />
        </span>
        <% end %>
      </div>
    </div><!--/end overlay -->

  </div><!--/end artist_box -->

  <%#= render 'reviews' %>

  <div class="clearer"></div>
</div><!--/end albums_item -->
