<%
  p = @playlist if @playlist
%>

<% if @last_box %>
  <div class="artist_box pl last_box png_fix">
<% elsif defined?(last_box) and last_box %>
  <div class="artist_box pl last_box png_fix">
<% else %>
  <div class="artist_box pl png_fix">
<% end %>
    <% if false %><span class="close_btn">Close</span><% end %>
    <%= link_to avatar_for(p, :medium), radio_path(:station_id => p.station.id) %>
    <div class="overlay">
        <div class="hidden">
            <%= link_to(avatar_for(p.owner, :tiny, :class => 'artist_icon'), user_path(p.owner)) %>
            <b>
              <%= link_to(profile_account.name, user_path(p.owner)) %>
            </b>
            <br />
            <span class="white"><%= l(p.updated_at.to_date) %></span>
            <br/><br/>
            <%= tag_links(p) %>
            <br/><br/><br/>
        </div>
        <div class="visible">
            <%= link_to image_tag('play_button.png', :class => 'play_button png_fix'), radio_path(:station_id => p.station.id) %>
            <%= link_to p.name, radio_path(:station_id => p.station.id)  %>
        </div>
    </div><!--/end overlay -->
  </div><!--/end artist_box -->
<%=  "<br class=\"clearer\" />" if @last_box %>

