<% content_for :header_space_content do %>
  <div class="header_spacer"></div>
<% end %>
<%= javascript_include_tag 'jquery.ui' %>
<%= javascript_include_tag 'playlist_create' %>
<%= javascript_include_tag 'AC_OETags' %>

<div class="two_columns">
    <h1><%= t('playlists.edit') %></h1>
    
    <form class="account_settings search_music" method="post" action="">
        <div class="form_row last">
            <h2><%= t('playlists.name_your_playlist') %></h2>

            <div class="grey_round_box align_center">
                <input type="text" class="input full_width3" value="<%= @playlist.name %>"/>
            </div>
        </div><!--/end form_row -->

        <div class="form_row last">
            <h2><%= t('playlists.tag_your_playlist') %> <small class="grey"><%= t('playlists.seperated_commas') %></small></h2>

            <div class="grey_round_box align_center">
                <input type="text" class="input full_width3" value="fun, silly, retro" />
            </div>
        </div><!--/end form_row -->
    </form>
    
    
    
    <h2><%= t('playlists.search_for_music') %></h2>
    <%= render :partial => 'playlists/create/search_box' %>
    <div id="search_results_container">
      <%= render :partial => 'playlists/create/search_results' %>
    </div>
    <%= render :partial => 'playlists/create/reccomendations' %>
</div><!--/end two_columns -->


<div id="right_column">
    <h1><%= t('playlists.rules') %></h1>
    <%= render :partial => 'playlists/create/track_list' %>
</div><!--/end right_column -->

<div class="clearer"></div>

<div id="stream_connector">
  <script type="text/javascript" charset="utf-8">
    var flashvars = "playerId=<%= @player_id %>";
    AC_FL_RunContent(
      "src", "/flash/stream_connect",
      "wmode", "opaque",
      "width", "1",
      "height", "1",
      "align", "middle",
      "id", "stream_connect",
      "quality", "high",
      "bgcolor", "#FFFFFF",
      "name", "stream_connect",
      "allowScriptAccess", "sameDomain",
      "type", "application/x-shockwave-flash",
      "pluginspage", "http://www.adobe.com/go/getflashplayer",
      "flashVars", flashvars
    );
  </script>
</div>
