<div class="sorting ajax_sorting">
  <%= filter_link_by( t('activity.user_following', :user => profile_account.first_name).upcase, :type => :all ) + "/" unless profile_account.is_a?(Artist) %>
  <%= filter_link_by( profile_account.first_name.upcase, :type => :me ) %>
  <%= "/" + filter_link_by( t('activity.just_following', :user => profile_account.first_name).upcase, :type => :following )  unless profile_account.is_a?(Artist) %>
</div>
<%= render 'list' %>
<% if @collection.respond_to? :total_pages %>
  <%= will_paginate @collection, pagination_args %>
<% end %>
