<li timestamp="<%= item['timestamp'] %>">
  <%= link_to avatar_for(item['account'], :small, :class => "comment_icon"), item['account'] %>
  <div class="comment_text">
    <% if item['type'] == 'status' %>
        <b><%= link_to(item['account'], item['account']) %></b>
        <%= item['message'] %><br/>
    <% elsif item['type'] == 'twitter' %>
        <%= item['text'] %>
        <%= link_to("Twitter / #{item['screen_name']}", "http://twitter.com/#{item['screen_name']}", :target => "_blank") %>
    <% elsif item['type'] == 'station' %>
      <% playable = item['station'] %>
      <% if playable and playable.deleted_at.nil? %>
          <%= t('activity.created_station', :creator => link_to("<b>#{item['account']}</b>", item['account']), :station => link_to(playable.name, radio_path(:station_id => playable.station.id))) %>
      <% end %>
    <% end %>
    <span class="grey"><%=  t('basics.created_at', :when => nice_elapsed_time(item['timestamp'])) %></span>
  </div>
  <div class="clearer"></div>
</li>
