<% if item['type'] == 'status' %>
  <li timestamp="<%= item['timestamp'] %>">
    <%= link_to avatar_for(item['account'], :small), item['account'] %>
    <div class="comment_text">
        
      <%= link_to(item['account'], item['account'], :class => "nombre") %>
      <span class="grey"><%=  t('basics.happened_at', :when => nice_elapsed_time(item['timestamp'])) %></span>
      <p><%= item['message'].gsub(/\n/, '<br />') %></p>
        
    </div><!-- .comment_text -->
  </li>
<% end %>
