<li style="word-wrap: break-word;">
  <% if line['type'] == 'status' %>
      <b><%= link_to(line['account'], line['account']) %></b>
      <%= line['message'].gsub(/\n/, '<br />') %><br/>
  <% elsif line['type'] == 'twitter' %>
      <%= line['text'] %>
      <%= link_to("Twitter / #{line['screen_name']}", "http://twitter.com/#{line['screen_name']}", :target => "_blank") %>
  <% elsif line['type'] == 'station' %>
    <% playable = line['station'] %>
    <% if playable and playable.deleted_at.nil? %>
        <%= t('activity.created_station', :creator => link_to("<b>#{line['account']}</b>", line['account']), :station => link_to(playable.name, radio_path(:station_id => playable.station.id))) %>
    <% end %>
  <% end %>

  <span class="grey"><%=  t('basics.created_at', :when => nice_elapsed_time(line['timestamp'])) %></span>
</li>
