<% content_for :main_content do %>

  <div class="mod_actividad">
    <h2 class="tit_bloque">
        <span class="txt"><%= t('modules.network_activity.title') %><em><%= t('modules.network_activity.description', :user_name => profile_user.name) %></em></span>
        <span class="bg_fin">&nbsp;</span>
    </h2><!-- .tit_bloque -->
    
    <%= sort_form("f_ordenar", :user_followings, :user, :followings) %>

    <% if @collection.empty? %>
      <p class="no_resultados"><%= possessive :has_not_activities %></p>
    <% else %>
      <ul class="comments_list">
        <%= render :partial => 'activities/list' %>
      </ul><!-- .comments_list -->
    <% end %>
    
</div><!-- .mod_actividad -->

<% end %>

<%= render :partial => 'shared/multitask/profile/layout', :locals => {:user => profile_user, :id => "usuario"} %>

