<div class="overlay">
    <div class="aviso contrasena">
      <div class="aviso_cab">
        <h1><%= t('coke_messenger.layers.forgot_password_layer.pwd_title') %></h1>
        <% unless @locked %>
          <a class="btn_cerrar" href="#" onclick="$.alert_layer.close();" title="<%= t('coke_messenger.layers.login_link_layer.close') %>"><strong>X</strong> <<%= t('coke_messenger.layers.login_link_layer.close') %>><%= t('coke_messenger.layers.login_link_layer.close') %></a>
        <% end %>
      </div>
      
      <% if @success %>
        <p><%= t('forgot.reset_message_sent') %></p>
      <% else %>
        <p><%= t('coke_messenger.layers.forgot_password_layer.pwd_msg') %></p>
        <% form_for :user, :url => forgot_path, :html => { :class => "f_contrasena" } do |f| %>
          <input type="hidden" name="safe_question" value=""/>
          <label>
            <span><%= t('coke_messenger.layers.forgot_password_layer.email') %></span> 
            <%= f.text_field :email, :class => 'texto' %></label>
          <label class="nickname">
            <span><%= t('coke_messenger.layers.forgot_password_layer.slug') %></span> 
            <%= f.text_field :slug, :class => 'texto' %><strong>coca-cola.fm/</strong></label>
          <label class="<%= class_name%>">
            <small class="txt_error"><%= @error_msg %></small>
          </label>
          <%= f.submit t('coke_messenger.layers.forgot_password_layer.send'), :class => 'boton' %>
        <% end %>
      <% end %>
    </div>
  </div>
