<div class="overlay">
    <div class="aviso login">
   <div class="aviso_cab">
   	<h1>Login</h1>
    <% unless @locked %>
      <a class="btn_cerrar" href="#" onclick="$.alert_layer.close();" title="<%= t('coke_messenger.layers.login_link_layer.close') %>"><strong>X</strong> <<%= t('coke_messenger.layers.login_link_layer.close') %>><%= t('coke_messenger.layers.login_link_layer.close') %></a>
    <% end %>
  </div><!-- .aviso_cab -->
      <div class="scroll">
        <div class="columna_izq">
          <h2><%= t('coke_messenger.layers.login_link_layer.login_using') %> <strong><%= t('coke_messenger.layers.login_link_layer.cokefm_account') %></strong></h2>
          <p><%= t('coke_messenger.layers.login_link_layer.login_msg') %></p>
          <% #form_tag ssl_login_path, :class=> "f_acceso" do %>
          <% form_tag session_path, :class=> "f_acceso" do %>
            <label>
              <span><%= t('coke_messenger.layers.login_link_layer.email') %></span>
              <input class="texto" type="text" name="email" />
            </label>
            <label>
              <span><%= t('coke_messenger.layers.login_link_layer.password') %></span>
              <input class="texto" type="password" name="password" />
            </label>
			      <label class="<%= class_name%>">
              <small class="txt_error">E-mail e/ou senha inv&aacute;lidos</small>
            </label>
            
            <p><a class="link_rojob" href="#" title="<%= t('coke_messenger.layers.login_link_layer.forgot_pwd') %>"><%= t('coke_messenger.layers.login_link_layer.pwd_title') %></a></p>
            <input class="boton" type="submit" value="<%= t('coke_messenger.layers.login_link_layer.accept')%>" />
          <% end %>
          <div class="fb_acceso">
            <p><%= t('coke_messenger.layers.login_link_layer.log_data_network') %></p>
            <div class="fb_api_boton">
              <!-- API facebook para el boton -->
              <div id="fb-root"></div>
              <script src="http://connect.facebook.net/en_US/all.js"></script>
              <script>
               FB.init({ 
                  appId:'YOUR_APP_ID', cookie:true, 
                  status:true, xfbml:true 
               });
              </script>
              <fb:login-button><%= t('coke_messenger.layers.login_link_layer.login') %></fb:login-button>
              <!-- fin de API facebook -->
            </div><!-- .fb_api_boton -->
          </div><!-- .fb_acceso -->
        </div><!-- .columna_izq -->
        <div class="columna_der">
          <h2><%= t('coke_messenger.layers.login_link_layer.reg_free') %><strong><%= t('coke_messenger.layers.login_link_layer.register_free')%></strong></h2>
          <p><%= t('coke_messenger.layers.login_link_layer.follow') %></p>
          <form>
            <script type="text/javascript">
              function registerOnClick(p_event) {
                if (parent) {
                  proxyFrame = document.createElement("iframe");
                  proxyFrame.style.visibility = "hidden";
                  proxyFrame.style.position = "absolute";
                  proxyFrame.style.top = proxyFrame.style.left = proxyFrame.style.width = proxyFrame.style.height = "0";
                  proxyFrame.src = "<%= ssl_host %>/proxyframe_alertlayer.html?layer=<%= alert_layer_path('registration_layer') %>";
                  document.body.appendChild(proxyFrame);
                } else {
                  alert("Register layer should be in a secure IFRAME.");
                }
              }
            </script>
            <p><a class="boton register_btn" href="#" onclick="registerOnClick(event);" rel="layer" title="<%= t('coke_messenger.layers.login_link_layer.sign_up')%>">
              <span style="float:left;margin-top:7px;margin-left:30px;"><%= t('coke_messenger.layers.login_link_layer.sign_up')%></span></a></p>
          </form>    
		</div><!-- .columna_der -->
      </div><!-- .scroll -->
    </div><!-- .aviso login -->
  </div><!-- .overlay -->
