<div class="overlay">
  <div class="aviso login registro">
    <div class="aviso_cab">
	    <h1><%= t('coke_messenger.layers.opt_layer_view.login') %></h1>
      <% unless @locked %>
        <a class="btn_cerrar" href="#" onclick="$.alert_layer.close();" title="<%= t('actions.close') %>"><strong>X</strong> <%= t('actions.close') %></a>
      <% end %>
    </div><!-- .aviso_cab -->
    <div class="scroll">

      <div class="columna_izq">
        <h2><strong><%= t('coke_messenger.layers.opt_layer_view.welcome') %></strong></h2>
        <p class="usuario"><span class="link_rojob"><%= t('coke_messenger.layers.opt_layer_view.user_name', :user_name => (current_user.name rescue "")) %></span></p>
        <p><%= t('coke_messenger.layers.opt_layer_view.cyloop') %></p>
        <p class="txt_error <%= class_name %>">Termos e Condi&ccedil;&otilde;es e a Pol&iacute;tica de Privacidade precisam ser aceitos</p>
        
        <% form_tag '/users/cross_network', { :class => "f_condiciones" } do %>
          <label>
            <%= check_box_tag :opt_in, 1, false, { :class => "check" } %>
            <small><%= t('coke_messenger.layers.opt_layer_view.cyloop_privacy') %> <a class="link_rojo" href="<%= terms_and_conditions_url %>" target="_blank" title="<%= t('coke_messenger.layers.opt_layer_view.terms_of_use') %>"><%= t('coke_messenger.layers.opt_layer_view.terms_of_use') %></a> and <a class="link_rojo" href="<%= privacy_policy_url %>" target="_blank" title="<%= t('coke_messenger.layers.opt_layer_view.privacy_policy') %>"><%= t('coke_messenger.layers.opt_layer_view.privacy_policy') %></a> <%= t('coke_messenger.layers.opt_layer_view.text_info') %></small>
          </label>
          <div class="alerta"><%= t('coke_messenger.layers.opt_layer_view.thats_it') %></div>
          <input class="boton" type="submit" value="COMPLETE" />
        <% end %>

      </div><!-- .columna_izq -->
      <div class="columna_der">
        <h2><%= t('coke_messenger.layers.opt_layer_view.reasons') %><strong><%= t('coke_messenger.layers.opt_layer_view.coke_fm') %></strong></h2>
        <ul class="razones">
          <li>
            <span class="ico_lupa"><%= t('coke_messenger.layers.opt_layer_view.view') %></span>
            <h3><%= t('coke_messenger.layers.opt_layer_view.discover') %></h3>

            <p><%= t('coke_messenger.layers.opt_layer_view.find_music') %></p>
          </li>
          <li>
            <span class="ico_premio"><%= t('coke_messenger.layers.opt_layer_view.recommendations') %></span>
            <h3><%= t('coke_messenger.layers.opt_layer_view.badgets') %></h3>

            <p><%= t('coke_messenger.layers.opt_layer_view.radio_stations') %></p>
          </li>
          <li>
            <span class="ico_seguir"><%= t('coke_messenger.layers.opt_layer_view.friends') %></span>
            <h3><%= t('coke_messenger.layers.opt_layer_view.follow') %></h3>
            <p><%= t('coke_messenger.layers.opt_layer_view.click_follow') %></p>

          </li>
          <li>
            <span class="ico_mixes"><%= t('coke_messenger.layers.opt_layer_view.create') %></span>
            <h3><%= t('coke_messenger.layers.opt_layer_view.create_mix') %></h3>
            <p><%= t('coke_messenger.layers.opt_layer_view.dj_create_mix') %></p>

          </li>
          <li>
            <span class="ico_opinar"><%= t('coke_messenger.layers.opt_layer_view.view') %></span>
            <h3><%= t('coke_messenger.layers.opt_layer_view.put_work') %></h3>
            <p><%= t('coke_messenger.layers.opt_layer_view.comment') %></p>
          </li>
        </ul>

      </div><!-- .columna_der -->
    </div><!-- .scroll -->
  </div><!-- .aviso login registro -->
</div><!-- .overlay -->
