<% comments = playlist.comments.valid(:order => 'comments.updated_at DESC')%>

<div class="reviews">
  <div class="title">
      <h3><%= playlist.name %></h3>
      <ul class="incluye">
          <li><%= t('basics.contains') %>:</li>
          <li class="lista_mixes"><%= station_contains(playlist, 5, false, {:content_switch_enabled => true}) %></li>
      </ul>
  </div><!-- .title -->

  <% if comments.empty? %>
    <p class="no_resultados"><%= t('playlist.doesnt_have_any_reviews') %></p>
  <% else %>
    <%= render :partial => 'reviews/playlist_review_line', :collection => comments[0..1] %>
  <% end %>
  <% if comments.size > 2 %>
    <a title="<%= t('actions.view_all') %>" href="<%= radio_path(:station_id => playlist.station.id) %>" class="ico_mas" content_switch_enabled="true"><%= t('actions.view_all') %><span class="bg_flecha">&nbsp;</span></a>
  <% end %>
</div>
