<div class="review_item" id="review_<%= playlist_review_line.id %>">
    <%= link_to avatar_for(playlist_review_line.user, :small, :class => "review_icon"),  playlist_review_line.user, :content_switch_enabled => true %>
    <div class="review_creator">
        <strong><%= t('reviews.reviewed_by')%>: <%= link_to playlist_review_line.user, user_path(playlist_review_line.user), :content_switch_enabled => true %></strong>
        <span class="grey"><%= nice_elapsed_time(playlist_review_line.updated_at) %> <%= t('basics.ago') %></span>

        <%= multitask_rating(playlist_review_line) %>
    </div><!-- .review_creator -->
    <div class="review_text">
        <p><%= truncate(playlist_review_line.comment, 60, "...") %></p>
        <% if playlist_review_line.comment.size > 60 %>
          <p><a href="#" onclick="Base.reviews.show(<%= playlist_review_line.id %>); return false;"><%= t('actions.read_more')%></a></p>
        <% end %>
    </div><!-- .review_text -->
</div><!-- .review_item -->





