<% comments = playlist.comments.valid(:order => 'comments.updated_at DESC')%>

<div class="reviews">
  <div class="title">
    <div class="align_right"><%= t('modules.reviews.title').upcase %> (<%= comments.size %>)</div>
  </div>
  <% if comments.empty? %>
    <br/><br/>
    <div class="medium_text">
      <%= t('playlist.doesnt_have_any_reviews') %>
    </div>
  <% else %>
    <%= render :partial => 'reviews/playlist_review_line', :collection => comments[0..1] %>
  <% end %>
  <% if comments.size > 2 %>
  <div class="view_all">
    <b><%= link_to t('actions.view_all'), radio_path(:station_id => playlist.station.id) %></b>
  </div>
  <% end %>
</div>
