<% if @playlist.owner == current_user %>
  <br/>
  <div id="third_party_apps">
    <% station_id = @playlist.station.id %>
    <div class='twt'><a href="http://twitter.com/share" class="twitter-share-button" data-url="<%= host_with_port("/playlists?station_id=#{station_id}") %>" data-text="<%= t("tweet.message") %>" data-counturl="<%= host_with_port("/playlists?station_id=#{station_id}") %>" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></div>
    <div class='fb'><fb:like width="350" show_faces="false"></fb:like></div>
    <div class="clearer"></div>
  </div>
  <br/>
<% end %>

<%= render 'form' unless @playlist.owner == current_user or @playlist.owner.blocks?(current_user) %>
<h1>
  <%= "#{t('modules.reviews.title').upcase} (<span class=\"reviews_count\">#{@records.size}</span>)" %>
</h1>

<div class="sorting">
  <a class="ajax_sorting active { url:'/playlist/<%= @playlist.id %>/reviews/items', sort_by: 'latest' }" href="#">
    <%= t('sort.latest').upcase %>
  </a> |
  <a class="ajax_sorting { url:'/playlist/<%= @playlist.id %>/reviews/items', sort_by: 'highest_rated' }" href="#">
    <%= t('sort.highest_rated').upcase %>
  </a>
</div>

<ul class="playlist_reviews ajax_list">
  <%= render :partial => 'playlist_review_item', :collection => @collection %>
</ul><!--/end playlist_reviews -->

<%= ajax_pagination_for(playlist_reviews_items_path(@playlist), @records, 5) %>
