<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Coca-Cola</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
    <meta name="KEYWORDS" content="" />
    
    <%= stylesheet_link_tag 'application', 'application_ext' %>
    
    <% ['jquery-1.4.1.min', 'jquery.cycle.all.min', 'supersleight.plugin', 'functions', 'base'].each do |javascript| %>
      <%= javascript_include_tag javascript -%>
    <% end %>
</head>
  <body>
    <div id="container">
        <div id="header">
            <%= link_to(image_tag('logo.png', :id => 'logo', :class => 'png_fix', :alt => 'Coca-cola', :title => 'Coca-cola'), root_path) %>
            <ul id="header_nav">
                <li><%= link_to 'Home', root_path, :class => 'active' %></li>
                <li><%= link_to 'Playlists', '#' %></li>
                <li><%= link_to 'Search', '#' %></li>
            </ul>
            <%= render :partial => 'shared/search_form' %>
            <%= render :partial => 'users/box' %>
            <div class="clearer"></div>
        </div><!--/end header -->
        
        <%= user_navegation %>
        <%= yield :header_space_content %> 
        <div id="main_content"><%= yield %></div>
        <%= render :partial => 'shared/footer.html.erb' %>
    </div><!--/end container -->
  </body>
</html>
