<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Coca-Cola</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
    <meta name="KEYWORDS" content="" />
    
    <%= stylesheet_link_tag 'application', 'application_ext' %>
    
    <% ['jquery-1.4.1.min', 'jquery.cycle.all.min', 'supersleight.plugin', 'functions', 'base'].each do |javascript| %>
      <%= javascript_include_tag javascript %>
    <% end %>
</head>
  <body>
    <div id="container">
        <div id="header">
            <a href="#"><img src="images/logo.png" id="logo" class="png_fix" alt="Coca-Cola" title="Coca-Cola" /></a>
            <ul id="header_nav">
                <li><a href="#" class="active">Home</a></li>
                <li><a href="#">Playlists</a></li>
                <li><a href="#">Search</a></li>
            </ul>
            <%= render :partial => 'shared/search_form' %>
            <%= render :partial => 'users/box' %>
            <div class="clearer"></div>
        </div><!--/end header -->
        
        <%= render :partial => 'shared/create_playlist' %>
        
        <div class="clearer"></div>
        
        <div class="black_banner">
          <div class="banner_flash_box">
            <a href="#"><img src="images/banner_flash_box1.jpg" alt="" /></a>
          </div>
            
          <div class="open_happiness_box">
            <a href="#"><img src="images/open_happiness.jpg" alt="" /></a>
          </div>
            
          <div class="clearer"></div>
        </div><!--/end black_banner -->
        
        <div id="main_content"><%= yield %></div>

        <%= render :partial => 'shared/footer.html.erb' %>
    </div><!--/end container -->
  </body>
</html>