<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" <%= application_html_attrs %>>
  <head>
    <%= stylesheet_link_tag 'coke_messenger/messenger' %>

    <%= stylesheet_link_tag 'facebox' %>
    <%= stylesheet_link_tag 'registration' %>
    <!--[if lte IE 7]>
    <%= stylesheet_link_tag 'ie' %>
    <![endif]-->
    <%= stylesheet_link_tag 'coke' %>
    <%= stylesheet_link_tag 'styles_radio' %>
    <%= stylesheet_link_tag 'jquery.rating' %>
    <%= stylesheet_link_tag 'jquery.textboxlist' %>

    <%= javascript_include_tag 'jquery-1.5.1.min' %>
    <%= javascript_include_tag 'jquery.li-scroller.1.0' %>
    <%= javascript_include_tag 'jquery.ui' %>
    <%= javascript_include_tag 'swfobject' %>
    <%= javascript_include_tag 'coke/base' %>
    <script type="text/javascript">

    var pl = [];
    <% top_playlists.each do |pl| %>
    pl.push('/playlists/<%= pl.id %>.xml');
    <% end %>

    /* Coke player configuration */
    var cFlashVars = {
      protocol:'rtmp',
      serviceHost:'streaming.cyloop.com/vod',
      autostart:false,
      debug:'1'
    };
    var cParams = {
      allowScriptAccess: 'always'
    };
    var cAttribs = {
      id:'coke_engine',
      name:'coke_engine'
    };
    swfobject.embedSWF('/flash/sound_stub.swf', 'coke_player', '1', '1', '9', false, cFlashVars, cParams, cAttribs);
    </script>
  </head>
  <body locale="<%= current_site.default_locale %>" market="<%= current_site.code %>">
    <div class="posicion">
      <div class="cokeFM_MSN">
        <%= render :partial => 'coke_messenger/header' %>
        <div id="content">
          <%= yield %>
        </div>
        <%= render :partial => 'coke_messenger/footer' %>
      </div>
    </div>
  </body>
</html>
