<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" <%= application_html_attrs %>>
  <head>
  	<script type="text/javascript" charset="utf-8">
  	  var current_url_site =  "<%= current_site_url %>";
	</script>
    <%= stylesheet_link_tag 'coke_messenger/messenger' %>

    <%= stylesheet_link_tag 'facebox' %>
    <%= stylesheet_link_tag 'registration' %>
    <!--[if lte IE 7]>
    <%= stylesheet_link_tag 'ie' %>
    <![endif]-->
    <%= stylesheet_link_tag 'coke' %>
    <%= stylesheet_link_tag 'styles_radio' %>
    <%= stylesheet_link_tag 'jquery.rating' %>
    <%= stylesheet_link_tag 'jquery.textboxlist' %>
    
	<%= javascript_include_tag 'jquery-1.4.1.min' %>
	<%#= javascript_include_tag 'jquery' %>
	<%= javascript_include_tag 'jquery.facebox' %>
    <%= javascript_include_tag 'jquery.rating' %>
    <%= javascript_include_tag 'jquery.li-scroller.1.0' %>
    <%= javascript_include_tag 'jquery.ui' %>
    <%= javascript_include_tag 'swfobject' %>
	<%= javascript_include_tag 'supersleight.plugin' %>
    <%= javascript_include_tag 'coke/base' %>
	
     <title><%= @title.blank? ? "CokeFM Messenger " : @title%> </title>
  </head>
  <body locale="<%= current_site.default_locale %>" market="<%= current_site.code %>">
    <div class="posicion">
      <div class="cokeFM_MSN">
        <%= render :partial => 'coke_messenger/header' %>
        <div id="content">
          <%= yield %>
        </div>
        <%= render :partial => 'coke_messenger/footer' %>
      </div>
    </div>
  </body>
</html>