<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" <%= application_html_attrs %>>
  <head>

    <%= stylesheet_link_tag 'coke_messenger/messenger' %>
    <%= stylesheet_link_tag 'alert_layers' %>
    <%= stylesheet_link_tag 'facebox' %>
    <%= stylesheet_link_tag 'registration' %>
    <%= stylesheet_link_tag 'jquery.textboxlist' %>

    <!-- !!!!ALERT!!!! -->
    <!-- DO NOT ADD ANY OTHER JAVASCRIPT LIBRARIES OTHER THAN JQUERY, SWFOBJECT -->
    <!-- IF YOU NEED A FUNCTION FROM ONE OF THE MAIN COKE LIBRARIES COPY IT OVER TO coke/base -->
    <!-- THANK YOU! -->
    <script type="text/javascript">
      var current_url_site =  "<%= current_site_url %>";
      var current_site_mode = "msn";
      var app = "messenger";
    </script>
    <%= javascript_include_tag 'jquery-1.5.1.min' %>
    <%= javascript_include_tag 'jquery.ui' %>
    <%= javascript_include_tag 'jquery.facebox' %>
    <%= javascript_include_tag 'jquery.li-scroller.1.0' %>
    <%= javascript_include_tag 'jquery.livequery' %>
    <%= javascript_include_tag 'jquery.scroll' %>
    <%= javascript_include_tag 'swfobject' %>
    <%= javascript_include_tag 'supersleight.plugin' %>
    <%= javascript_include_tag 'coke/base' %>
		<%= javascript_include_tag 'coke/alert_layer' %>
		<%= javascript_include_tag '/utils/locale.js' %>
		
		<script src="http://connect.facebook.net/en_US/all.js"></script>
    <!-- -------------------------------------------------------------------- -->

    <%= render 'coke_messenger/google_analytics' %>
    
    <title><%= @title.blank? ? "CokeFM Messenger " : @title%> </title>
  </head>
  <body locale="<%= current_site.default_locale %>" market="<%= current_site.code %>">
    <div class="posicion">
      <div class="cokeFM_MSN">
        <%= render :partial => 'coke_messenger/header' %>
        <div id="content">
          <%= yield %>
        </div>
        <%= render :partial => 'coke_messenger/footer' %>
      </div>
      
      <% if current_user && !current_user.part_of_network? %>
        <script language="javascript">
          $.alert_layer('/messenger_player/alert_layer/opt_layer_locked', true)
        </script>
      <% end %>
      
    </div>
  </body>
</html>
