<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" <%= application_html_attrs %>>
  <head>
    <%= render 'shared/meta' %>
      <script>
        var app = 'multitask';
        var logged_in = <%= logged_in? %>;
      </script>
    <%= render 'shared/javascripts' %>
    <%= render 'shared/stylesheets' %>
    <%= yield :head %>
    <%= render 'shared/google_analytics' %>
  </head>
  <body locale="<%= current_site.default_locale %>" market="<%= current_site.code %>" current_site_url="<%= current_site_url %>" id="<%= action_name %>">
    <div class="cabecera">
      <%= render 'shared/multitask/header' %>
    </div>
    <div class="navegacion">
      <%= render 'shared/multitask/header_nav' %>
    </div>

    <div id="content">
    </div>

    <div class="pie">
      <%= render 'shared/multitask/footer' %>
    </div>
    <script language="text/javascript">
      Cufon.now();
    </script>
  </body>
</html>
